@import 'public';
.input-group {
    @include px2rem(margin-top, 44px);
    @include px2rem(margin-bottom, 350px);
    text-align: center;
}
//按钮灰暗
.btnUnable {
    background-color: #D4D4D4 !important;
    color: rgb(110, 110, 110) !important;
}
//登录页
.login-container {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    position: relative;
}
input::-webkit-input-placeholder {
    color: #ECECEC;
}
.login-input {
    @include px2rem(width, 683px);
    @include px2rem(height, 90px);
    @include px2rem(padding-left, 28px);
    @include px2rem(padding-right, 28px);
    @include font-dpr(16px);
    color: #787878;
    border: none;
    box-sizing: border-box;
}
#input-phone {
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
    @include px2rem(border-top-left-radius, 6px);
    @include px2rem(border-top-right-radius, 6px);
}
#input-pwd {
    border: 1px solid #D4D4D4;
    @include px2rem(border-bottom-left-radius, 6px);
    @include px2rem(border-bottom-right-radius, 6px);
}
.login-btn {
    @include px2rem(width, 683px);
    @include px2rem(height, 90px);
    @include px2rem(margin-top, 40px);
    @include font-dpr(19px);
    border: none;
    @include px2rem(border-radius, 6px);
    background-color: $green-color;
    color: #FFFFFF;
    transition: all 0.4s;
}
.forgetPWD-span {
    @include px2rem(width, 647px);
    @include px2rem(height, 90px);
    display: inline-block;
}
#forgetPWD {
    @include px2rem(height, 90px);
    @include px2rem(line-height, 90px);
    @include font-dpr(15px);
    color: #787878;
    display: inline-block;
}
//登录页面底部
.other-way {
    @include px2rem(height, 100px);
    @include px2rem(padding-left, 28px);
    @include px2rem(padding-right, 28px);
    position: relative;
    text-align: center;
}
.other-way-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -36px;
    [data-dpr="2"] & {
        margin-left: -72px;
    }
    [data-dpr="3"] & {
        margin-left: -108px;
    }
    margin-top: -6px;
    [data-dpr="2"] & {
        margin-top: -12px;
    }
    [data-dpr="3"] & {
        margin-top: -18px;
    }
    @include font-dpr(12px);
    color: #D4D4D4;
    background-color: #F7F7F7;
    z-index: 10;
}
.other-btn-title {
    @include font-dpr(16px);
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}
.other-way-line {
    width: 90%;
    @include px2rem(height, 2px);
    position: absolute;
    left: 5%;
    @include px2rem(top, 50px);
    background-color: #D4D4D4;
}
.other-btn {
    margin: 0 auto;
    display: table;
}
.other-btn-item {
    @include px2rem(width, 214px);
    @include px2rem(height, 90px);
    background-color: $green-color;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @include px2rem(border-radius, 6px);
}
.other-btn-holder {
    @include px2rem(width, 23px);
    display: table-cell;
}
.other-btn-logo {
    @include px2rem(width, 60px);
    @include px2rem(height, 54px);
    display: inline-block;
    vertical-align: middle;
}
.logo-weixin {
    @include spirtes-img4;
    @include px2rem(background-position-x, -81px); //216
    @include px2rem(background-position-y, -237px);
}
.logo-qq {
    @include spirtes-img4;
    @include px2rem(background-position-x, -160px); //216
    @include px2rem(background-position-y, -237px);
}
.logo-weibo {
    @include spirtes-img4;
    @include px2rem(background-position-x, 0px); //216
    @include px2rem(background-position-y, -237px);
}
//注册页面共用部分
.register-input {
    @include px2rem(width, 631px);
    @include px2rem(height, 90px);
    @include px2rem(padding-left, 25px);
    @include px2rem(padding-right, 25px);
    @include px2rem(margin-bottom, 28px);
    display: inline-block;
    @include font-dpr(19px);
    color: #9a9a9a;
    background-color: rgb(255, 255, 255);
    border: $base-border;
    @include px2rem(border-radius, 6px);
}
.register-input:nth-child(1) {
    //  @include px2rem(margin-top, 80px);
}
.register-btn {
    @include px2rem(width, 681px);
    @include px2rem(height, 90px);
    @include px2rem(line-height, 90px);
    @include px2rem(margin-top, 20px);
    @include px2rem(border-radius, 6px);
    border: none;
    background-color: $green-color;
    @include font-dpr(19px);
    color: #FFFFFF;
    text-align: center;
}
//注册页面一
.authCode-group {
    @include px2rem(width, 656px);
    @include px2rem(height, 90px);
    @include px2rem(padding-left, 25px);
    display: inline-block;
    border: $base-border;
    @include px2rem(border-radius, 6px);
    overflow: hidden;
    text-align: justify;
    background-color: #FFFFFF;
}
//验证码输入
#authCode {
    @include px2rem(width, 440px);
    @include px2rem(height, 90px);
    @include font-dpr(19px);
    color: #9a9a9a;
    border: none;
    vertical-align: middle;
}
//注册页面二
.span-agreement {
    @include px2rem(width, 680px);
    @include px2rem(margin-top, 10px);
    @include px2rem(margin-bottom, 10px);
    text-align: left;
    display: inline-block;
    span {
        vertical-align: middle;
    }
    a {
        color: steelblue;
    }
}
//重置密码
#resetPWD {
    @include px2rem(width, 648px);
    @include px2rem(height, 94px);
    @include px2rem(border-radius, 6px);
    @include font-dpr(18px);
    color: #FFFFFF;
    background-color: $green-color;
    border: none;
}
//重置密码
//返回登录
#back {
    @include px2rem(margin-top, 31px);
    @include px2rem(margin-bottom, 31px);
    display: inline-block;
    @include font-dpr(15px);
    color: $green-color;
}
//重置密码项
.reset-group {
    @include px2rem(width, 648px);
    display: inline-block;
}
.reset-item {
    width: 100%;
    @include px2rem(height, 94px);
    display: table;
    text-align: left;
    @include font-dpr(18px);
    color: #000000;
    border-bottom: $base-border;
}
.reset-item-cell-left {
    @include px2rem(width, 210px);
}
.reset-item-cell-mid {
    @include px2rem(width, 270px);
}
.reset-item-cell {
    display: table-cell;
    vertical-align: middle;
}
.reset-item-input {
    border: none;
}
.resetAuth {
    width: auto !important;
    @include px2rem(padding-left, 5px);
    @include px2rem(padding-right, 5px);
}