@charset "UTF-8";
.bg-color-green {
  background-color: #3d8f52 !important; }

body,
div,
p,
a,
em,
span,
h1,
h2,
h3,
h4,
h5,
h6,
article {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "微软雅黑"; }

em {
  font-style: normal; }

body {
  background-color: #F7F7F7; }

.white-arrow-span {
  width: 0.26667rem;
  height: 0.46667rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-y: -0.62667rem; }

.black-arrow-span {
  width: 0.26667rem;
  height: 0.46667rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-x: -0.41333rem;
  background-position-y: -0.62667rem; }

.white-arrow-big-span {
  width: 0.34667rem;
  height: 0.61333rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-y: -1.38667rem; }

.black-arrow-big-span {
  width: 0.33333rem;
  height: 0.62667rem;
  background: url("../img/head-left-black.png");
  background-size: 0.33333rem 0.61333rem;
  display: inline-block; }

.white-three-point-span {
  width: 0.62667rem;
  height: 0.16rem;
  background: url("../img/head-three-point.png");
  background-size: 0.62667rem 0.14667rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.black-three-point-span {
  width: 0.62667rem;
  height: 0.16rem;
  background: url("../img/head-three-point-black.png");
  background-size: 0.62667rem 0.14667rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.black-nav-span {
  width: 0.48rem;
  height: 0.65333rem;
  background: url("../img/img2.png");
  background-size: 15.37333rem 7.88rem;
  display: inline-block;
  background-position-y: -0.62667rem; }

.search-span {
  width: 0.69333rem;
  height: 0.52rem;
  background: url("../img/head-search.png");
  background-size: 0.68rem 0.50667rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.navigation-span {
  width: 0.46667rem;
  height: 0.54667rem;
  background: url("../img/shop-introduce-navigation.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle; }

.black-arrow-small-span {
  width: 0.22667rem;
  height: 0.37333rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-x: -0.21333rem; }

.help-about-span {
  width: 0.66667rem;
  height: 0.66667rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-x: -1.69333rem;
  background-position-y: -4.45333rem; }

.shop-span {
  width: 0.52rem;
  height: 0.48rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-x: 0rem;
  background-position-y: -3.72rem; }

.shop-span-small {
  width: 0.4rem;
  height: 0.37333rem;
  background: url("../img/shop.png");
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.10667rem;
  vertical-align: middle; }

.shop-arrow-span {
  width: 0.21333rem;
  height: 0.37333rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block; }

.shop-delete-span {
  width: 0.49333rem;
  height: 0.50667rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  vertical-align: middle;
  background-position-x: 0rem;
  background-position-y: -2.24rem; }

.shop-delete-span-small {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  background: url("../img/delete-span-small.png");
  background-repeat: no-repeat;
  background-size: 0.42667rem 0.42667rem;
  background-position: top right;
  position: absolute;
  right: 0;
  top: 0; }

.radio-check-span {
  width: 0.61333rem;
  height: 0.62667rem;
  background: url("../img/img.png");
  background-size: 36.21333rem 10.81333rem;
  display: inline-block;
  background-position-x: 0rem;
  background-position-y: -4.49333rem; }

.radio-check-active {
  background: url("../img/img3.png");
  background-size: 3.77333rem 3.78667rem;
  background-position-x: -0.06667rem;
  background-position-y: -1.33333rem; }

.shop-car-black-span {
  width: 0.53333rem;
  height: 0.53333rem;
  background: url("../img/shop-car.png");
  background-size: 0.54667rem 0.54667rem;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.set-middle {
  vertical-align: middle !important; }

#head-holder {
  height: 1.30667rem; }

.white-bg {
  background-color: #FFFFFF !important; }

.header-control-fixed {
  position: fixed; }

.header-control {
  width: 100%;
  height: 1.33333rem;
  background-color: #3d8f52;
  top: 0;
  left: 0;
  z-index: 20;
  display: table; }

.trade-scroll-position {
  top: 1.30667rem;
  bottom: 1.33333rem; }

.header-control > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.header-control-left-btn {
  width: 1.73333rem;
  text-align: left !important; }

.header-control-right-btn {
  width: 1.73333rem;
  text-align: right !important; }

.header-control-left-btn-span {
  margin-left: 0.37333rem;
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF; }
  [data-dpr="2"] .header-control-left-btn-span {
    font-size: 36px; }
  [data-dpr="3"] .header-control-left-btn-span {
    font-size: 54px; }

.header-control-right-btn-span {
  margin-right: 0.37333rem;
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF; }
  [data-dpr="2"] .header-control-right-btn-span {
    font-size: 36px; }
  [data-dpr="3"] .header-control-right-btn-span {
    font-size: 54px; }

#webview-head-title {
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF; }
  [data-dpr="2"] #webview-head-title {
    font-size: 36px; }
  [data-dpr="3"] #webview-head-title {
    font-size: 54px; }

#getAuthCode {
  width: 2.2rem;
  height: 0.73333rem;
  font-size: 10px;
  background-color: #3d8f52;
  border-radius: 0.13333rem;
  border: none;
  color: #FFFFFF;
  vertical-align: middle; }
  [data-dpr="2"] #getAuthCode {
    font-size: 20px; }
  [data-dpr="3"] #getAuthCode {
    font-size: 30px; }

.reSendAuthCode {
  background-color: #ebebeb !important;
  color: #8e6068 !important; }

.num-choice {
  width: 2.56rem;
  height: 0.8rem;
  display: inline-block;
  font-size: 0;
  background-color: #FFFFFF; }

.num-choice-item {
  width: 33.3%;
  height: 100%;
  font-size: 18px;
  line-height: 0.8rem;
  display: inline-block !important;
  text-align: center; }
  [data-dpr="2"] .num-choice-item {
    font-size: 36px; }
  [data-dpr="3"] .num-choice-item {
    font-size: 54px; }

.num-choice-left {
  background-color: #e6e6e6;
  font-weight: bold;
  color: #bebebe; }

.num-choice-mid {
  background-color: #FFFFFF;
  color: #646464; }

.num-choice-right {
  background-color: #e6e6e6;
  font-weight: bold;
  color: #bebebe; }

.my-toast {
  width: 100%;
  position: fixed;
  bottom: 0;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  opacity: 0;
  z-index: 999;
  text-align: center; }

.my-toast-transform {
  animation: moo 2s ease-out normal;
  -webkit-animation: moo 2s ease-out normal; }

@-webkit-keyframes moo {
  10% {
    -webkit-transform: translateY(-165%);
    opacity: 0.9; }
  15% {
    -webkit-transform: translateY(-150%);
    opacity: 1; }
  80% {
    transform: translateY(-150%);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-150%);
    opacity: 0; } }
@keyframes moo {
  10% {
    transform: translateY(-165%);
    opacity: 0.9; }
  15% {
    transform: translateY(-150%);
    opacity: 1; }
  80% {
    transform: translateY(-150%);
    opacity: 1; }
  80% {
    transform: translateY(-150%);
    opacity: 0; } }
.my-toast-content {
  font-size: 14px;
  max-width: 100%;
  height: 1.06667rem;
  padding-left: 0.33333rem;
  padding-right: 0.33333rem;
  line-height: 1.06667rem;
  display: inline-block;
  border-radius: 0.53333rem 0.53333rem;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
  [data-dpr="2"] .my-toast-content {
    font-size: 28px; }
  [data-dpr="3"] .my-toast-content {
    font-size: 42px; }

.span-cover-slider {
  width: 10rem;
  height: 4.8rem;
  display: block; }

.trade-span-cover-slider {
  height: 6.53333rem;
  display: block; }

.farm-span-cover-slider {
  height: 5.57333rem;
  display: block; }

#searchDataNull,
#farmNull {
  font-size: 12px;
  text-align: center; }
  [data-dpr="2"] #searchDataNull, [data-dpr="2"]
  #farmNull {
    font-size: 24px; }
  [data-dpr="3"] #searchDataNull, [data-dpr="3"]
  #farmNull {
    font-size: 36px; }

#searchBigHover {
  position: absolute;
  width: 1.6rem;
  height: 1.33333rem;
  top: -0.4rem;
  left: 0; }

.line-weight-half-bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: -100%;
  bottom: -100%;
  border-bottom: 1px solid #dfdfdf;
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0; }

.line-weight-half-top:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: -100%;
  border-bottom: 1px solid #dfdfdf;
  transform: scale(0.5);
  transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0; }

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?t=1463970014");
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  /* chrome, firefox */
  /* IE6-IE8 */
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1463970014#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1463970014") format("woff"), url("../fonts/iconfont.ttf?t=1463970014") format("truetype"), url("../fonts/iconfont.svg?t=1463970014#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-sousuo:before {
  content: "\e60b"; }

.icon-ditu8:before {
  content: "\f0018"; }

.icon-dingwei:before {
  content: "\e616"; }

.icon-fanhui:before {
  content: "\e7d5"; }

/*# sourceMappingURL=public.css.map */
