
// px转rem
// 设计稿元素尺寸/(设计稿宽度/10)*页面html.fontsize = 适应后的元素大小
@mixin px2rem($property, $px-values, $important: false, $baseline-px:75px, $support-for-ie:false) {
    //根据设计图大小设置baseline-px
    //求出基础rem大小
    $baseline-rem: $baseline-px / 1rem * 1;
    //ie支持
    @if $support-for-ie {
        #{$property}: $px-values;
    }
    //如果第二个参数只有一个值，那就直接给属性赋值
    //type-of函数用法
    //  type-of(100px)  => number
    //  type-of(asdf)   => string
    //  type-of("asdf") => string
    //  type-of(true)   => bool
    //  type-of(#fff)   => color
    //  type-of(blue)   => color
    @if type-of($px-values) == "number" {
        @if ($important == true) {
            #{$property}: $px-values / $baseline-rem !important;
        }
        @else {
            #{$property}: $px-values / $baseline-rem;
        }
    }
    @else {
        //创建一个空列表
        $rem-values: ();
        @each $value in $px-values {
            // 如果属性值为大于0px的像素值，那么用append把值加入列表里    append(list, var , separator);
            @if $value != 0 or type-of($value) == "number" {
                $rem-values: append($rem-values, $value / $baseline-rem);
            }
        }
        //返回设置 
        @if ($important == true) {
            #{$property}: $rem-values !important;
        }
        @else {
            #{$property}: $rem-values;
        }
    }
}
// 转化字体大小，设计稿字体/设计稿dpr = fontsize
@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
// 雪碧图位置，大小
@mixin spirtes-img {
    background: url("../img/img.png");
    @include px2rem(background-size,(2716px, 811px));
}
@mixin spirtes-img2 {
    background: url("../img/img2.png");
    @include px2rem(background-size,(1153px, 591px));
}
@mixin spirtes-img3 {
    background: url("../img/img3.png");
    @include px2rem(background-size, (283px, 284px));
}
@mixin spirtes-img4 {
    background: url("../img/img4.png");
    @include px2rem(background-size, (579px, 293px));
}
//不换行处理
@mixin Nowrap {
    //文本不换行
    word-break: keep-all;
    white-space: nowrap;
    //超出行内容
    text-overflow: ellipsis;
    overflow: hidden;
}
//去除两端对齐限制，用于容器的after上
@mixin setJustify {
    // 打破justify限制，使第二行也能两端对齐
    content: '';
    display: inline-block;
    width: 100%;
}
// 基础色包括页面背景；灰色块的颜色
// 基础绿色
// 基础边框样式
// 基础绿色背景
$base-color: #efeff4; //$green-color: #83C347;
$green-color: #3d8f52;
$base-border: 1px solid #dfdfdf;
.bg-color-green {
    background-color: $green-color !important;
}
// 去除默认内外边距，去除line-height
body,
div,
p,
a,
em,
span,
h1,
h2,
h3,
h4,
h5,
h6,
article {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: "微软雅黑";
}
em {
    font-style: normal;
}
body {
    background-color: #F7F7F7;
}
//图标样式
//箭头-右白箭头
.white-arrow-span {
    @include px2rem(width,20px);
    @include px2rem(height,35px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-y,-47px);
}
//箭头-右黑箭头
.black-arrow-span {
    @include px2rem(width,20px);
    @include px2rem(height,35px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x, -31px);
    @include px2rem(background-position-y,-47px);
}
//箭头-左大白箭头
.white-arrow-big-span {
    @include px2rem(width,26px);
    @include px2rem(height,46px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-y,-104px);
}
//箭头-左大黑箭头  商品详情
.black-arrow-big-span {
    @include px2rem(width, 25px);
    @include px2rem(height, 47px);
    background: url("../img/head-left-black.png");
    @include px2rem(background-size, (25px, 46px));
    display: inline-block;
}
//白色的三点
.white-three-point-span {
    @include px2rem(width, 47px);
    @include px2rem(height, 12px);
    background: url("../img/head-three-point.png");
    @include px2rem(background-size, (47px, 11px));
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
//黑色的三点
.black-three-point-span {
    @include px2rem(width, 47px);
    @include px2rem(height, 12px);
    background: url("../img/head-three-point-black.png");
    @include px2rem(background-size, (47px, 11px));
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
//黑色的导航图标
.black-nav-span {
    @include px2rem(width,36px);
    @include px2rem(height,49px);
    @include spirtes-img2;
    display: inline-block;
    @include px2rem(background-position-y,-47px);
}
//头部搜索
.search-span {
    @include px2rem(width, 52px);
    @include px2rem(height, 39px);
    background: url("../img/head-search.png");
    @include px2rem(background-size, (51px, 38px));
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
//地图  导航
.navigation-span {
    @include px2rem(width, 35px);
    @include px2rem(height, 41px);
    background: url("../img/shop-introduce-navigation.png");
    background-repeat: no-repeat;
    background-size: contain; //  @include px2rem(background-size, (38px, 42px));
    display: inline-block;
    vertical-align: middle;
}
//箭头-右小黑箭头
.black-arrow-small-span {
    @include px2rem(width,17px);
    @include px2rem(height,28px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x, -16px);
}
//帮助图标 
.help-about-span {
    @include px2rem(width,50px);
    @include px2rem(height,50px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,-127px);
    @include px2rem(background-position-y,-334px);
}
//店铺图标
.shop-span {
    @include px2rem(width,39px);
    @include px2rem(height,36px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-279px);
}
.shop-span-small {
    @include px2rem(width, 30px);
    @include px2rem(height, 26px);
    background: url(../img/shop.png);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include px2rem(margin-left, 20px);
    @include px2rem(margin-right, 8px);
    vertical-align: bottom;
}
//店铺右边箭头
.shop-arrow-span {
    @include px2rem(width,16px);
    @include px2rem(height,28px);
    @include spirtes-img;
    display: inline-block;
}
//垃圾桶图标
.shop-delete-span {
    @include px2rem(width, 37px);
    @include px2rem(height, 38px);
    @include spirtes-img;
    display: inline-block;
    vertical-align: middle;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-168px);
}
//单选按钮默认不选中 
.radio-check-span {
    @include px2rem(width, 46px);
    @include px2rem(height, 47px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-337px);
}
//单选按钮选中
.radio-check-active {
    @include spirtes-img3;
    @include px2rem(background-position-x, -5px);
    @include px2rem(background-position-y,-100px);
}
// 购物车图片
.shop-car-black-span {
    @include px2rem(width, 40px);
    @include px2rem(height, 40px);
    background: url("../img/shop-car.png");
    @include px2rem(background-size, (41px, 41px));
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
//使元素垂直居中
.set-middle {
    vertical-align: middle !important;
}
//头部占位
#head-holder {
    @include px2rem(height, 98px);
}
.white-bg {
    background-color: #FFFFFF !important;
}
// 头部控制栏，公用部分 
// 模板为webview-header
.header-control-fixed {
    // 为setting页的头部栏设置
    position: fixed;
}
.header-control {
    width: 100%;
    @include px2rem(height,100px);
    background-color: $green-color; //  position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: table;
}
.trade-scroll-position {
    @include px2rem(top, 98px);
    @include px2rem(bottom, 100px);
}
.header-control > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header-control-color {
    background-color: rgb(67, 67, 67) !important;
}
//左右两边按钮大小，图标样式。头部分左中右三部分，中间宽度自动
.header-control-left-btn {
    @include px2rem(width,130px);
    text-align: left !important;
}
.header-control-right-btn {
    @include px2rem(width,160px);
    text-align: right !important;
}
.header-control-left-btn-span {
    @include px2rem(margin-left,28px);
    display: inline-block;
    @include font-dpr(18px);
    color: #FFFFFF;
}
.header-control-right-btn-span {
    @include px2rem(margin-right,28px);
    display: inline-block;
    @include font-dpr(18px);
    color: #FFFFFF;
}
#webview-head-title {
    display: inline-block;
    @include font-dpr(20px);
    color: #FFFFFF;
}
//验证码按钮
#getAuthCode {
    @include px2rem(width, 180px);
    @include px2rem(height, 80px);
    @include font-dpr(12px);
    background-color: $green-color;
    @include px2rem(border-radius, 10px);
    border: none;
    color: #FFFFFF;
    vertical-align: middle;
}
.reSendAuthCode {
    background-color: rgb(235, 235, 235) !important;
    color: rgb(142, 96, 104) !important;
}
//数字选择器
.num-choice {
    @include px2rem(width, 192px);
    @include px2rem(height, 60px);
    display: inline-block;
    font-size: 0;
    background-color: #FFFFFF;
}
.num-choice-item {
    width: 33.3%;
    height: 100%;
    @include font-dpr(18px);
    @include px2rem(line-height, 60px);
    display: inline-block !important;
    text-align: center;
}
.num-choice-left {
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: rgb(190, 190, 190);
}
.num-choice-mid {
    background-color: #FFFFFF;
    color: rgb(100, 100, 100);
}
.num-choice-right {
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    color: rgb(190, 190, 190);
}
// 数字选择器end
// toast
.my-toast {
    width: 100%;
    position: fixed;
    bottom: 0;
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    opacity: 0;
    z-index: 999;
    text-align: center;
}
.my-toast-transform {
    animation: moo 2s ease-out normal;
    -webkit-animation: moo 2s ease-out normal;
}
@-webkit-keyframes moo {
    10% {
        -webkit-transform: translateY(-165%);
        opacity: 0.9;
    }
    15% {
        -webkit-transform: translateY(-150%);
        opacity: 1;
    }
    80% {
        transform: translateY(-150%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-150%);
        opacity: 0;
    }
}
@keyframes moo {
    10% {
        transform: translateY(-165%);
        opacity: 0.9;
    }
    15% {
        transform: translateY(-150%);
        opacity: 1;
    }
    80% {
        transform: translateY(-150%);
        opacity: 1;
    }
    80% {
        transform: translateY(-150%);
        opacity: 0;
    }
}
.my-toast-content {
    @include font-dpr(14px);
    max-width: 100%;
    @include px2rem(height, 80px);
    @include px2rem(padding-left, 25px);
    @include px2rem(padding-right, 25px);
    @include px2rem(line-height, 80px);
    display: inline-block;
    @include px2rem(border-radius, (40px, 40px));
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
    @include Nowrap;
}
// 轮播图
.span-cover-slider {
    @include px2rem(width, 750px);
    @include px2rem(height, 360px);
    display: block;
}
// 商品详情轮播图
.trade-span-cover-slider {
    @include px2rem(width, 750px);
    @include px2rem(height, 490px);
    display: block;
}