
// px转rem
// 设计稿元素尺寸/(设计稿宽度/10)*页面html.fontsize = 适应后的元素大小
@mixin px2rem($property,$px-values,$baseline-px:75px,$support-for-ie:false){
    //根据设计图大小设置baseline-px
    //求出基础rem大小
    $baseline-rem: $baseline-px / 1rem * 1;
    //ie支持
    @if $support-for-ie {
        #{$property}: $px-values;
    }
    //如果第二个参数只有一个值，那就直接给属性赋值
    //type-of函数用法
    //  type-of(100px)  => number
    //  type-of(asdf)   => string
    //  type-of("asdf") => string
    //  type-of(true)   => bool
    //  type-of(#fff)   => color
    //  type-of(blue)   => color
    @if type-of($px-values) == "number"{
        #{$property}: $px-values / $baseline-rem;
    }
    @else {
        //创建一个空列表
        $rem-values:();
        @each $value in $px-values{
            // 如果属性值为大于0px的像素值，那么用append把值加入列表里    append(list, var , separator);
            @if $value != 0 or type-of($value) == "number"{
                $rem-values: append($rem-values, $value / $baseline-rem);
            }
        }
        //返回设置 
        #{$property}: $rem-values;
    }
}

// 转化字体大小，设计稿字体/设计稿dpr = fontsize
@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

// 雪碧图位置，大小
@mixin spirtes-img {
    background: url(../img/img.png);
    @include px2rem(background-size,(2716px, 811px));
}

@mixin spirtes-img2 {
    background: url(../img/img2.png);
    @include px2rem(background-size,(1153px, 591px));
}

//不换行处理
@mixin Nowrap{
    //文本不换行
    word-break: keep-all;
    white-space: nowrap;
    //超出行内容
    text-overflow: ellipsis;
    overflow: hidden;
}

// 基础色包括页面背景；灰色块的颜色
// 基础绿色
// 基础边框样式
// 基础绿色背景
$base-color: #efeff4;
$green-color: #83C347;
$base-border: 1px solid #dcdcdc;
.bg-color-green {
    background-color: $green-color !important;
}

// 去除默认内外边距，去除line-height
body, div, p, a, em, span ,h1, h2, h3, h4, h5, h6, article{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: "微软雅黑";
}

//图标样式
//箭头-右白箭头
.white-arrow-span {
    @include px2rem(width,20px);
    @include px2rem(height,35px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-y,-47px);
}

//箭头-右黑箭头
.black-arrow-span {
    @include px2rem(width,20px);
    @include px2rem(height,35px); 
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x, -31px);
    @include px2rem(background-position-y,-47px);
}

//箭头-左大白箭头
.white-arrow-big-span {
    @include px2rem(width,26px);
    @include px2rem(height,46px); 
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-y,-104px);
}

//箭头-左大黑箭头  商品详情
.black-arrow-big-span {
    @include px2rem(width, 25px);
    @include px2rem(height, 47px);
    background: url(../img/head-left-black.png);    
    @include px2rem(background-size, (25px, 46px));
    display: inline-block; 
}
//头部右边三点
.white-three-point-span {
    @include px2rem(width, 47px);
    @include px2rem(height, 12px);
    background: url(../img/head-three-point.png);
   @include px2rem(background-size, (47px, 11px));
    display: inline-block; 
    vertical-align: middle;
}
//黑色的三点
.black-three-point-span {
    @include px2rem(width, 47px);
    @include px2rem(height, 12px);
    background: url(../img/head-three-point-black.png);
   @include px2rem(background-size, (47px, 11px));
    display: inline-block; 
    vertical-align: middle;
}

//头部搜索
.search-span {
    @include px2rem(width, 50px);
    @include px2rem(height, 39px);
    background: url(../img/head-search.png);
    @include px2rem(background-size, (50px, 38px));
    display: inline-block;
    vertical-align: middle; 
}


//箭头-右小黑箭头
.black-arrow-small-span {
    @include px2rem(width,17px);
    @include px2rem(height,28px); 
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x, -16px);
}
//帮助图标 
.help-about-span {
    @include px2rem(width,50px);
    @include px2rem(height,50px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,-127px);
    @include px2rem(background-position-y,-334px);
}
//店铺图标
.shop-span {
    @include px2rem(width,39px);
    @include px2rem(height,36px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-279px);
}
//店铺右边箭头
.shop-arrow-span {
    @include px2rem(width,16px);
    @include px2rem(height,28px);
    @include spirtes-img;
    display: inline-block;
}
//垃圾桶图标
.shop-delete-span {
    @include px2rem(width, 37px);
    @include px2rem(height, 38px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-168px);
}
//单选按钮默认不选中 
.radio-check-span {
    @include px2rem(width, 46px);
    @include px2rem(height, 46px);
    @include spirtes-img;
    display: inline-block;
    @include px2rem(background-position-x,0px);
    @include px2rem(background-position-y,-336px);
}
//单选按钮选中
.radio-check-active {
    @include px2rem(background-position-x,-64px);
}

//头部占位
#head-holder {
    @include px2rem(height, 98px);
}

// 头部控制栏，公用部分 
// 模板为webview-header
.header-control {
    width: 100%;
    @include px2rem(height,100px);
    background-color: $green-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: table;
}
.header-control > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header-control-color {
    background-color: rgb(67, 67, 67) !important;
}
//左右两边按钮大小，图标样式。头部分左中右三部分，中间宽度自动
.header-control-left-btn {
    @include px2rem(width,130px);
    text-align: left !important; 
}
.header-control-right-btn {
    @include px2rem(width,130px);
    text-align: right !important;
}
.header-control-left-btn-span {
    @include px2rem(margin-left,28px);
    display: inline-block;
    @include font-dpr(18px);
    color: #FFFFFF;
}      
.header-control-right-btn-span {                
    @include px2rem(margin-right,28px);
    display: inline-block;
    @include font-dpr(18px);
    color: #FFFFFF;
}     
#webview-head-title {
    display: inline-block;
    @include font-dpr(21px);
    color: #FFFFFF;
}