<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<script src="js/flexible_css.debug.js"></script>
		<script src="js/flexible.debug.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/imgView.css" rel="stylesheet" />
		<style>
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				margin: 0;
			}
			
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			
			.mui-pull-bottom-tips {
				margin-top: 10px;
				text-align: center;
				/*background-color: #efeff4;*/
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="header-control">
				<div class="header-control-left-btn  mui-action-back">
					<span class="header-control-left-btn-span"></span>
				</div>
				<div>
					<span id="webview-head-title">社区</span>
				</div>
				<div class="header-control-right-btn">
					<span class="header-control-right-btn-span">
						<span class="mui-icon mui-icon-compose" style="font-weight: bold;"></span>
					</span>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item1mobile" data-id="shareList" data-scroll-id="shareScroll" data-first="false">
						分享
					</a>
					<a class="mui-control-item" href="#item2mobile" data-id="questionList" data-scroll-id="questionScroll" data-first="true">
						问答
					</a>
					<a class="mui-control-item" href="#item3mobile" data-id="knowledgeList" data-scroll-id="knowledgeScroll" data-first="true">
						知识
					</a>
					<a class="mui-control-item" href="#item4mobile">
						公园
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-3"></div>

				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll" id="shareScroll">
								<div class="spinner" style="display: block;">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
								<div class="comu-list-tab-container" id="shareList">
									<div class="comu-content" v-cloak v-for="item in data.items">
										<div class="comu-content-main">
											<div class="comu-content-main-title" v-on:tap.stop="openUserDetail" data-user-id="{{item.user_id}}">
												<div class="comu-content-main-user">
													<span class="comu-user-picture" style="background: url({{item.user_avatar == null ? '../www/img/head.jpg' : item.user_avatar }}); background-size: cover;">				
													</span>
													<span class="comu-user-name">{{item.user_name}}</span>
													<span class="comu-user-date">&nbsp;&nbsp;{{item.created_at}}</span>
												</div>
											</div>
											<div class="comu-content-main-article" v-on:tap="openComuDetail" data-id="{{item.id}}" v-cloak>
												{{item.text}}
											</div>
											<div class="comu-content-main-photo">
												<!--<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;"></span>-->
												<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;">													
													<img src="{{img}}"  style="display: block; width: 80px; height: 80px; opacity: 0; z-index: 999;" data-preview-src="" data-preview-group="{{item.id}}" />
												</span>
											</div>
											<div class="comu-comment-control">
												<div class="comu-comment-control-left" v-on:tap.stop="tapPraise" data-id="{{item.id}}" data-index="{{$index}}" data-islike="{{item.is_like.toString()}}">
													<span class="{{item.is_like?'comu-comment-praise-active':'comu-comment-praise-default'}}"></span>
													<span class="comu-comment-control-text">{{item.like_num}}</span>
												</div>
												<div class="comu-comment-control-right" v-on:tap="openComuDetail" data-id="{{item.id}}">
													<span class="comu-comment-control-logo-comu"></span>
													<span class="comu-comment-control-text">{{item.comment_num}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="questionScroll">
								<div class="spinner" style="display: block;">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
								<div class="comu-list-tab-container" id="questionList">
									<div class="comu-content" v-cloak v-for="item in data.items">
										<div class="comu-content-main">
											<div class="comu-content-main-title" v-on:tap.stop="openUserDetail" data-user-id="{{item.user_id}}">
												<div class="comu-content-main-user">
													<span class="comu-user-picture" style="background: url({{item.user_avatar == null ? '../www/img/head.jpg' : item.user_avatar }}); background-size: cover;">
													</span>
													<span class="comu-user-name">{{item.user_name}}</span>
													<span class="comu-user-date">&nbsp;&nbsp;{{item.created_at}}</span>
												</div>
											</div>
											<div class="comu-content-main-article" v-on:tap="openComuDetail" data-id="{{item.id}}" v-cloak>
												{{item.text}}
											</div>
											<div class="comu-content-main-photo">
												<!--	<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;"></span>-->
												<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;">													
													<img src="{{img}}"  style="display: block; width: 80px; height: 80px; opacity: 0; z-index: 999;" data-preview-src="" data-preview-group="{{item.id}}" />
												</span>
											</div>
											<div class="comu-comment-control">
												<div class="comu-comment-control-left" v-on:tap.stop="tapPraise" data-id="{{item.id}}" data-index="{{$index}}" data-islike="{{item.is_like.toString()}}">
													<span class="{{item.is_like?'comu-comment-praise-active':'comu-comment-praise-default'}}"></span>
													<span class="comu-comment-control-text">{{item.like_num}}</span>
												</div>
												<div class="comu-comment-control-right" v-on:tap="openComuDetail" data-id="{{item.id}}">
													<span class="comu-comment-control-logo-comu"></span>
													<span class="comu-comment-control-text">{{item.comment_num}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="knowledgeScroll">
								<div class="spinner" style="display: block;">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
								<div class="comu-knowledge-list-container" id="knowledgeList">
									<div class="comu-knowledge-list-item" v-cloak v-for="item in data.items" v-on:tap="openKnowledgeList" data-id="{{item.id}}" data-title="{{item.name}}" style="background: url({{item.cover}}); background-size: cover;">
										<div class="comu-knowledge-list-item-title">{{item.name}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="fruit">
								<div style="background-color: #FFFFFF;">
									<div class="my-comu-farm-introduce">
										<div class="my-comu-farm-introduce-title line-weight-half-bottom">
											<span class="my-comu-farm-introduce-span-green">公园简介：</span>
										</div>
										<div class="my-comu-farm-introduce-content">
											大曦山休闲旅游公园集田园风光、生态自然、休闲体验为一体，位于国家4A及旅游景区天竺山脚下，涵盖西山、杨厝、后坑、西塘、赤土、刘营六个乡土风情保持良好的自然村。园内薰衣草花海、都市菜地和乡土文化融合乡气、野气，是厦门及周边城市人“望得见山、看得见水、记得住乡愁”的假日新天地。
										</div>
									</div>
									<div class="my-comu-farm-introduce">
										<div class="my-comu-farm-introduce-title line-weight-half-bottom">
											<span class="my-comu-farm-introduce-span-green">公园特色：</span>
										</div>
										<div class="my-comu-farm-introduce-content">
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">国家名片：</div>
												大曦山休闲旅游公园以引领自然生态美、生活幸福美、文化和谐美和创新引领美等特色，荣膺2014年“中国十大最美乡村”称号，乃我省唯一获此殊荣的乡村；为“美丽厦门 共同缔造”再添国家级新名片。
											</div>
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">文化信仰：</div>
												大曦山公园民间信仰丰富多样。后坑、杨厝信奉清水祖师；西塘拜王爷公；西山、刘营供奉保生大帝；赤土崇敬妈祖。2014年6月，杨厝、后坑成功举办首届集福堂清水祖师文化节。
											</div>
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">乡野美食：</div>
												来大曦山为亲近自然，也为寻味乡野美食。乡野美食主要由传统农家小吃、自耕果蔬、土家牲畜为主要菜品。所有菜肴均产自当地农民之手，生态、纯天然、无污染，让你吃出美味，吃出健康，吃出幸福。 农家乐菜肴丰富，脍炙人口，物美价廉，并推出特色佳肴，如福工农饭店炒木槿花系列菜色、老六农家乐干蒸土鸡、西门口饭店明炉鱼佳品、饴轩阁首家推出烤全羊、天竺人家辣木菜品等，前所未有，秀色可餐，挑战舌尖，挑战味蕾。大曦山的美食还散落在各个村落内，如手打糍粑、水蒸咸糕、老鸭汤、沙茶面、薄饼等地道美味小吃，让你流连忘返，赞不绝口，根本停不下来！
											</div>
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">乐活体验：</div>
												绿道轻骑：骑着穿过凤凰、紫薇、香樟等6条绿道，在欣赏沿途美景的愉悦中，让烦恼随风而去，让惬意后会有期。 真人CS：鑫龙谷、土味佳农家乐的真人游戏活动场地，让你体验“走出虚拟，走进现实。 湖边垂钓：大曦山最拿手的农事体验；水域丰富，装备齐全，且钓且美食。 瓜果采摘：瓜果蔬满园，有机还天然；尽兴摘，放心吃，满意购回家。 自助烧烤：搭配上好的辣木茶、自酿酒，人生得意须尽欢！ 山林徒步：皓月湖有全国最长的环湖木栈道，闲庭信步，看尽日出日落。 郊野露营：度外·天竺驿的森林露营基地，满足天被地床，看星月的梦想。
												休闲茶艺：到乡村、田野、菜地、果园呼吸乡气，到香草园品天然好茶。 喂养动物：各种虫鱼鸟类（鸡、鸭、兔子、山羊、骏马、鱼儿、黑天鹅、鸽子等），亲自喂养，欢乐喜多多。
											</div>
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">植物科普：</div>
												大曦山公园植被覆盖丰富，坐落于有“森林氧吧”之称的天竺山脚下，拥有丰厚的植被种类及资源。仅花圃苗木园区内就拥有上百种植物，还陆续开放了木槿花种植区、辣木观光区、薰衣草花海等典型示范基地供游人观赏。走进植物观光体验园，让肺新呼吸，健康自在有活力! 西坂菜地：灌溉山泉水、物理除虫害，喂以有机肥，原生态的园子盛产时令果蔬。携眷出行，丰富常识，亲自最佳自然课堂。 香草园地：素有“香草之后”美誉的薰衣草，一直是无数女孩的最爱。想拥抱薰衣草花海吗？你再也不需要跨越半个地球去欣赏薰衣草花海了，大曦山就有上百亩的薰衣草种植园基地，谁能抗拒这醉人的紫色花海。
												木槿花香：木槿花入馔美味，除了可做出上等美味佳肴，它绽放的时刻更是一道美丽的风景，芳香迷人。 苗木花圃：想知道日常生活中接触到的各种苗木花圃是如何生长如何养护的吗？带你走入大曦山苗木花圃区，认识花圃，了解花圃，向技术人员学习养花技巧。 辣木观光：辣木，堪称是一种神奇的健康植物。辣木叶片、果荚富含多种矿物质、维生素，作为蔬菜和食品有增进营养、食疗保健功能，也可用于医药、保健、工业等方面，因此被誉为“神奇之树”、“生命之树”。辣木是养生佳品，可制作成辣木美食、辣木茶、辣木点心等，如此新奇，如此神奇的植物是如何种植的呢？一起前来体验观光吧！
											</div>
											<div class="farm-introduce-group">
												<div class="farm-introduce-group-title">文艺清新：</div>
												白色的建筑，别致的座椅，欧式的灯饰，一种风格迥异的地中海风情；迎面的山林气息，伴着客家妈妈的豆腐坊、木瓜餐厅，淡淡扬起的是一股怀旧复古文艺风——度外·天竺驿。
											</div>
										</div>
									</div>
									<div class="my-comu-farm-introduce">
										<div class="my-comu-farm-introduce-title line-weight-half-bottom">
											<span class="my-comu-farm-introduce-span-green">基本信息：</span>
										</div>
										<div class="my-comu-farm-introduce-content">										
											<div class="my-comu-farm-introduce-content-item"><span>服务单位：</span><span>大曦山休闲旅游公园社区服务中心</span></div>
											<div class="my-comu-farm-introduce-content-item"><span>电话：</span><span>0592-6313811/952/812</span></div>
											<div class="my-comu-farm-introduce-content-item"><span>网站：</span><span>www.daxishan.cn</span></div>
											<div class="my-comu-farm-introduce-content-item"><span>交通：</div>
											<div class="my-comu-farm-introduce-content-item"><span>1.终点站至天竺山东门，直接到达目的地</div>
											<div class="my-comu-farm-introduce-content-item"><span>805：嵩屿公交场站 -- 天竺山东门</div>
											<div class="my-comu-farm-introduce-content-item"><span>首末班车：06:30 - 21:00</div>
											<div class="my-comu-farm-introduce-content-item"><span>发车间隔时间：白天9-10分钟，夜间15-20分钟，夜间部分班次仅至新垵/阿罗海城市广场</div>
											<div class="my-comu-farm-introduce-content-item"><span>2.途径洪塘站，步行15分钟至目的地</div>
											<div class="my-comu-farm-introduce-content-item"><span>路线一 840：东孚浦头 -- 恩北公交场站；岛外跨区线路</div>
											<div class="my-comu-farm-introduce-content-item"><span>首末班车：东孚浦头(05:50 - 21:00)  恩北(06:00 - 21:20)</div>
											<div class="my-comu-farm-introduce-content-item"><span>上车1元，跨段递增1元，最高2元。</div>
											<div class="my-comu-farm-introduce-content-item"><span>路线二 940：厦门北站 -- 东孚浦头；岛外跨区线路</div>
											<div class="my-comu-farm-introduce-content-item"><span>首末班车：厦门北站(06:00 - 19:40)  东孚浦头(06:25 - 20:20</div>
											<div class="my-comu-farm-introduce-content-item"><span>上车1元，跨灌口大路站墘站递增1元，最高2元。</div>
											<div class="my-comu-farm-introduce-content-item"><span>路线三 835：海沧街道 -- 洪塘村</div>
											<div class="my-comu-farm-introduce-content-item"><span>首末班车：洪塘村(05:55 - 19:35)</div>
											<div class="my-comu-farm-introduce-content-item"><span>海沧街道(06:10 - 19:35)，全程1元</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/md5.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script src="js/mui.zoom.js"></script>
		<script src="js/mui.previewimage.js"></script>
		<script>
			// 系统页面初始化
			mui.init();
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			mui('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: true, //是否显示滚动条
				deceleration: deceleration
			});
			mui.back = function() {};
			//			mui.back = function() {
			//				if (mui.os.plus) {
			//					mui.fire(plus.webview.getWebviewById("HBuilder"), "backHome", {});
			//				}
			//			};
			var url = {
				"shareList": "http://farm.rrzuji.com/v1/community/index?type=1",
				"questionList": "http://farm.rrzuji.com/v1/community/index?type=2",
				"knowledgeList": "http://farm.rrzuji.com/v1/wiki-category/index?"
			}
			var tabObj = function(IDlist, IDscroll, isFirst) {
				this.list_ID = IDlist;
				this.refreshContainer = mui(document.getElementById(IDscroll));
				this.first = isFirst;
				this.page = 1;
				this.url = url[IDlist] + "&page=";
				this.refreshSign = "";
				this.vueObj = null;
				this.spinner = document.querySelector("#" + IDscroll + " .spinner");
				this.itemData = [];
				this.praiseFirst = null;
				this.init();
			}
			tabObj.prototype = {
				init: function() {
					if (this.first == "false") {
						return;
					}
					this.bindVue();
					this.getData();
				},
				initPullRefresh: function() {
					var thisObj = this;
					thisObj.refreshContainer.pullToRefresh({
						down: {
							callback: function() {
								thisObj.refreshSign = "down";
								thisObj.page = 1;
								thisObj.getData();
							}
						},
						up: {
							callback: function() {
								thisObj.refreshSign = "up";
								thisObj.getData();
							}
						}
					});
				},
				dealFirst: function(data) {
					var thisObj = this;
					try {
						thisObj.first = "false";
						// 整体更换初始化vue数据
						thisObj.vueObj.$data = data;
						thisObj.vueObj.$nextTick(function() {
							thisObj.spinner.style.display = "none";
							thisObj.initPullRefresh();
							thisObj.noMore(data);
						});
						console.log("整体更换");
					} catch (err) {
						console.log(err);
					}
				},
				getData: function() {
					if (NetWorkStatus()) {
						return;
					}
					var URL = this.url + this.page + "&" + fnCreateSign();
					var thisObj = this;
					mui.ajax(URL, {
						type: "GET",
						dataType: "JSON",
						timeout: 15000,
						success: function(res) {
							console.log(URL);
							console.log("获取到的列表数据，社区" + res);
							res = JSON.parse(res);
							if (res.success) {
								thisObj.page++;
								// 第一次获取数据后的处理
								if (thisObj.first == "true") {
									thisObj.dealFirst(res);
									thisObj.itemData = res.data.items;
									thisObj.vueObj.$nextTick(function() {
										mui.previewImage();
									});
								} else {
									// 不是第一次
									if (thisObj.refreshSign == "up") {
										//										for (var i = 0; i < res.data.items.length; i++) {
										//											thisObj.vueObj.data.items.push(res.data.items[i]);
										//										}
										var _items = res.data.items;
										thisObj.itemData = thisObj.itemData.concat(_items);
										thisObj.vueObj.data.items = thisObj.vueObj.data.items.concat(_items);
										if (thisObj.noMore(res)) {
											return;
										};
									} else {
										thisObj.vueObj.$data = res;
										thisObj.refreshContainer.pullToRefresh().endPullDownToRefresh();
										thisObj.refreshContainer.pullToRefresh().refresh(true);
										thisObj.itemData = res.data.items;
										thisObj.noMore(res);
										return;
									}
								}
							}
							thisObj.stopRefresh();
						},
						error: function(xhr, type, errorThrown) {
							ajaxError(xhr);
							thisObj.stopRefresh();
							mui.toast("加载失败，请检查您的网络");
						}
					});
				},
				noMore: function(res) {
					var thisObj = this;
					if (res.data._meta.currentPage == res.data._meta.pageCount || res.data._meta.pageCount == 0) {
						thisObj.refreshContainer.pullToRefresh().endPullUpToRefresh(true);
						return true;
					}
				},
				stopRefresh: function(self) {
					var sign = this.refreshSign;
					// 没有更多数据的话，refresh设置true
					if (sign == "down") {
						this.refreshContainer.pullToRefresh().endPullDownToRefresh();
					}
					if (sign == "up") {
						this.refreshContainer.pullToRefresh().endPullUpToRefresh();
					}
				},
				bindVue: function() {
					// 绑定vue
					var thisObj = this;
					thisObj.vueObj = new Vue({
						el: "#" + thisObj.list_ID,
						data: {},
						methods: {
							openDetail: function(event) {
								// 打开评论详情
								console.log("事件处理");
							},
							openKnowledgeList: function(event) {
								// 打开农耕知识列表
								thisObj.handleOpenKnowledgeList(event);
							},
							tapPraise: function(event) {
								// 点赞
								thisObj.handlePraise(event);
							},
							openComuDetail: function(event) {
								thisObj.handleOpenComuDetail(event);
							},
							openUserDetail: function(event) {
								thisObj.handleOpenUserDetail(event);
							}
						}
					})
				},
				handleOpenKnowledgeList: function(event) {
					var thisBtn = event.currentTarget;
					// 分类id
					var _id = thisBtn.getAttribute("data-id");
					var _title = thisBtn.getAttribute("data-title");
					mui.openWindow({
						url: "thirdlv/webview-comu-knowledge-list.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						extras: {
							categoryID: _id,
							categoryTitle: _title
						},
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: false
						}
					});
				},
				handlePraise: function(event) {
					// 点击时改变vue数组的值;
					// 然后发送请求，请求时创建一个临时数据，记录在请求期间点赞的变化（用户重复点击），保存最后一个点赞值
					// 请求完成时，根据这个最后的点赞值判断是否需要再发送请求。如果请求失败，回到上一次点赞的值。
					var thisBtn = event.currentTarget;
					if (!userLoginStatus()) {
						openLogin(thisBtn);
						return;
					}
					var index = thisBtn.getAttribute("data-index");
					var status = thisBtn.getAttribute("data-islike");
					var send = thisBtn.getAttribute("data-send");
					var _id = thisBtn.getAttribute("data-id");
					var numContent = thisBtn.getElementsByClassName("comu-comment-control-text")[0];
					var num = parseInt(numContent.innerText);
					if (status == "true") {
						if (!send) {
							thisBtn.setAttribute("data-send", "sending");
							this.praiseFirst = true;
						}
						(num >= 1) && (num = --num);
						numContent.innerText = num;
						this.vueObj.$set("data.items[" + index + "].is_like", false);
					} else {
						if (!send) {
							thisBtn.setAttribute("data-send", "sending");
							this.praiseFirst = false;
						}
						numContent.innerText = ++num;
						this.vueObj.$set("data.items[" + index + "].is_like", true);
					}
					this.praiseAjax(thisBtn, _id);
				},
				praiseAjax: function(btn, id) {
					if (!mui.os.plus) {
						return;
					}
					var thisObj = this;
					var token = plus.storage.getItem("tokenValue");
					var URL = this.praiseFirst ? "http://farm.rrzuji.com/v1/community/unlike?" : "http://farm.rrzuji.com/v1/community/like?";
					URL = URL + fnCreateSign() + "&access-token=" + token;
					mui.ajax(URL, {
						type: "POST",
						dataType: "JSON",
						data: {
							community_id: id
						},
						success: function(res) {
							res = JSON.parse(res);
							if (res.success) {
								!thisObj.praiseFirst ? console.log("已点赞") : console.log("已取消点赞");
								btn.removeAttribute("data-send");
							} else {
								thisObj.praiseAjaxError(btn);
							}
						},
						error: function(xhr) {
							thisObj.praiseAjaxError(btn);
							ajaxError(xhr);
						}
					});
				},
				praiseAjaxError: function(thisBtn) {
					// 点赞出错回滚
					var numContent = thisBtn.getElementsByClassName("comu-comment-control-text")[0];
					var num = parseInt(numContent.innerText);
					if (this.praiseFirst) {
						numContent.innerText = ++num;
						this.vueObj.$set("data.items[" + index + "].is_like", true);
					} else {
						(num >= 1) && (num = --num);
						numContent.innerText = num;
						this.vueObj.$set("data.items[" + index + "].is_like", false);
					}
				},
				handleOpenComuDetail: function(event) {
					// 打开社区详情
					if (!userLoginStatus()) {
						openLogin(event.currentTarget);
						return;
					}
					var itemID = event.currentTarget.getAttribute("data-id");
					var token = plus.storage.getItem("tokenValue");
					mui.openWindow({
						url: "secondlv/webview-comu-detail.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						extras: {
							_id: itemID,
							token: token
						},
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: false
						}
					});
				},
				handleOpenUserDetail: function(event) {
					console.log("打开用户信息");
				},
				refreshAvatar: function(id) {
					for (var i in this.itemData) {
						if (this.itemData[i].user_id == id) {
							this.itemData[i].user_avatar = null;
						}
					}
					this.vueObj.data.items = this.itemData;
					var thisObj = this;
					setTimeout(function() {
						for (var i in thisObj.itemData) {
							if (thisObj.itemData[i].user_id == id) {
								thisObj.itemData[i].user_avatar = "../doc/head.jpg";
							}
						}
						thisObj.vueObj.data.items = thisObj.itemData;
					}, 3000);
				},
				deleteArticle: function(id) {
					for (var i in this.itemData) {
						if (this.itemData[i].id == id) {
							this.itemData.splice(i, 1);
							this.vueObj.data.items = this.itemData;
						}
					}
				},
				addNewArticle: function(data) {
					this.itemData.unshift(data);
					this.vueObj.data.items = this.itemData;
				},
				refreshPraise: function(id, isLike) {
					for (var i in this.itemData) {
						if (this.itemData[i].id == id) {
							this.itemData[i].is_like = isLike;
							isLike ? this.itemData[i].like_num = this.itemData[i].like_num + 1 : this.itemData[i].like_num = this.itemData[i].like_num - 1;
						}
					}
					this.vueObj.data.items = this.itemData;
				},
				handleDetailPraiseAndComment: function(data) {
					// id, likeNum, CommentNum, isLike
					for (var i in this.itemData) {
						if (this.itemData[i].id == data.id) {
							this.itemData[i].like_num = data.like_num;
							this.itemData[i].comment_num = data.comment_num;
							this.itemData[i].is_like = data.is_like;
						}
					}
				}
			};
			// 存放分享、问答两个tab对象。
			// 当用户修改头像、姓名和发布动态时，数组里面两个对象触发刷新列表
			var objArray = [];
			window.addEventListener("initPage", function() {
				// 第一个标签手动设置				
				var objNew = new tabObj("shareList", "shareScroll", "true");
				objArray.push(objNew);
				document.getElementById("slider").addEventListener("scrollend", function() {
					var elem = document.querySelector("#sliderSegmentedControl .mui-active");
					if (elem.getAttribute("data-id") == null) {
						return;
					}
					var first = elem.getAttribute("data-first");
					if (first == "true") {
						// 处理问答、知识标签
						var scrollID = elem.getAttribute("data-scroll-id");
						var objNew2 = new tabObj(elem.getAttribute("data-id"), scrollID, "true");
						scrollID == "questionScroll" && objArray.push(objNew2);
						elem.setAttribute("data-first", "false");
					}
				})
			});
			// 在我的社区发布新动态时触发
			window.addEventListener("addNewArticle", function(e) {
				var type = e.detail.type;
				if (type == 1 && objArray[0]) {
					objArray[0].addNewArticle(e.detail.data);
				}
				if (type == 2 && objArray[1]) {
					objArray[1].addNewArticle(e.detail.data);
				}
			});
			// 在我的社区删除动态时触发
			window.addEventListener("deleteArticle", function(e) {
				if (e.detail.type == 1 && objArray[0]) {
					objArray[0].deleteArticle(e.detail.itemID);
				}
				if (e.detail.type == 2 && objArray[1]) {
					objArray[1].deleteArticle(e.detail.itemID);
				}
			});
			// 更换个人头像时触发
			window.addEventListener("changeAvatar", function(e) {
				for (var i in objArray) {
					objArray[i].refreshAvatar(e.detail.userID);
				}
			});
			// 在我的社区赞操作时触发
			window.addEventListener("refreshPraise", function(e) {
				if (e.detail.type == 1 && objArray[0]) {
					objArray[0].refreshPraise(e.detail.itemID, e.detail.islike);
				}
				if (e.detail.type == 2 && objArray[1]) {
					objArray[1].refreshPraise(e.detail.itemID, e.detail.islike);
				}
			});
			// 在详情页点赞评论触发
			window.addEventListener("handleDetailPraiseAndComment", function(e) {
				var type = e.detail.type;
				if (type == 1 && objArray[0]) {
					objArray[0].handleDetailPraiseAndComment(e.detail.data);
				}
				if (type == 2 && objArray[1]) {
					objArray[1].handleDetailPraiseAndComment(e.detail.data);
				}
			});
			//			document.querySelector(".header-control-right-btn").addEventListener("tap", function() {
			//				mui.openWindow({
			//					url: "secondlv/webview-search.html",
			//					id: "secondlv/webview-search.html",
			//					createNew: false,
			//					show: {
			//						autoShow: true,
			//						aniShow: "pop-in",
			//						duration: 300
			//					},
			//					waiting: {
			//						autoShow: false
			//					}
			//				});
			//			});
			document.querySelector(".header-control-right-btn").addEventListener("tap", function() {
				mui.openWindow({
					url: "thirdlv/webview-comu-promulgate.html",
					styles: fnSetSubpageStyle(0, 0),
					createNew: false,
					extras: {
						//							itemID: _id
					},
					show: {
						autoShow: true,
						aniShow: "pop-in",
						duration: 300
					},
					waiting: {
						autoShow: true
					}
				});
			});
		</script>
	</body>

</html>