<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>农场首页</title>
		<script src="js/flexible_css.debug.js"></script>
		<script src="js/flexible.debug.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<style>
			[data-dpr="2"],
			.mui-ios .mui-pull-caption {
				font-size: 28px;
			}
			
			[data-dpr="2"],
			.mui-ios .mui.spinner {
				font-size: 28px;
			}
			
			[data-dpr="2"],
			.mui-ios .mui-icon-pulldown {
				font-size: 28px;
			}
			
			[data-dpr="3"],
			.mui-ios .mui-pull-caption {
				font-size: 42px;
			}
			
			[data-dpr="3"],
			.mui-ios .mui.spinner {
				font-size: 42px;
			}
			
			[data-dpr="3"],
			.mui-ios .mui-icon-pulldown {
				font-size: 42px;
			}
			
			.mui-ios .mui-pull-bottom-pocket {
				height: 50px;
			}
			
			.mui-android .mui-pull-top-pocket {
				top: 50px;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="container-globar" id="home-container-all">
					<div id="slider" class="mui-slider">
						<div class="mui-slider-group mui-slider-loop">
							<!-- (循环轮播：第一个节点是最后一张图片) 节点数量等于轮播图片+1-->
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#">
									<!--轮播图尺寸规定为750*350-->
									<span class="span-cover-slider" style="background: url({{data.baseImgUrl}}{{data.images[data.images.length - 1]}}); background-size: cover;background-position: center;"></span>
								</a>
							</div>
							<div class="mui-slider-item" v-for="img in data.images">
								<a href="#">
									<span class="span-cover-slider" style="background: url({{data.baseImgUrl}}{{img}}); background-size: cover;background-position: center;"></span>
								</a>
							</div>
							<!--额外增加的一个节点(最后一个节点与“原”第一张图片相同)-->
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#">
									<span class="span-cover-slider" style="background: url({{data.baseImgUrl}}{{data.images[0]}}); background-size: cover;background-position: center;"></span>
								</a>
							</div>
						</div>
						<div class="mui-slider-indicator mui-text-center">
							<!--对应图片个数-->
							<div class="mui-indicator mui-active home-slider-text-size"></div>
							<div class="mui-indicator home-slider-text-size" v-for="n in data.images.length" v-if="n > 0"></div>
						</div>
					</div>
					<div class="home-nav-tab">
						<div class="home-nav-tab-item" id="homeLive">
							<span class="home-nav-tab-item-icon home-live"></span>
							<span class="home-nav-tab-item-title">亲子</span>
						</div>
						<div class="home-nav-tab-item" id="homeShop">
							<span class="home-nav-tab-item-icon home-shop"></span>
							<span class="home-nav-tab-item-title">农场</span>
						</div>
						<div class="home-nav-tab-item" id="homeRent">
							<span class="home-nav-tab-item-icon home-rent"></span>
							<span class="home-nav-tab-item-title">认租</span>
						</div>
						<div class="home-nav-tab-item" id="homeActivity">
							<span class="home-nav-tab-item-icon home-activity"></span>
							<span class="home-nav-tab-item-title">农家乐</span>
						</div>
						<div class="home-nav-tab-item" id="homeEat">
							<span class="home-nav-tab-item-icon home-eat"></span>
							<span class="home-nav-tab-item-title">民宿</span>
						</div>
					</div>
					<div class="home-news-content">
						<div class="home-news-content-item">
							<div class="home-news-content-item-title">
								<label class="home-news-content-item-title-name">最新活动</label>
							</div>
							<div class="home-news-content-item-line"></div>

							<div class="home-news-content-item-left" data-id="{{ data.new_data[0].id}}" v-on:tap="openDetail">
								<img class="home-news-content-item-left-img" src="{{data.baseImgUrl == null ? '' : data.baseImgUrl}}{{data.new_data[0].cover == null ? '../www/img/imgDefault.png' : data.new_data[0].cover}}" />
								<div class="home-news-content-item-detail home-width-320">
									<span class="home-news-content-item-detail-title">{{ data.new_data[0].title}}</span>
									<!--<span class="home-news-content-item-detail-money">家长:<em>&yen;100&nbsp;</em>学生:<em>&yen;80</em></span>-->
									<span class="home-news-content-item-detail-money"><em>{{ data.charPrice }}{{ data.new_data[0].price }}</em></span>
									<!--<span class="home-news-content-item-detail-introduce">到访农业展馆，挑战游乐设施，欣赏露天剧场表演！欣赏露天剧场表演</span>-->
								</div>
							</div>
							<div class="home-news-content-item-right" data-id="{{ data.new_data[1].id}}" v-on:tap="openDetail">
								<img class="home-news-content-item-right-img" src="{{data.baseImgUrl == null ? '' : data.baseImgUrl}}{{data.new_data[1].cover == null ? '../www/img/imgDefault.png' : data.new_data[1].cover}}" />
								<div class="home-news-content-item-detail home-width-180">
									<span class="home-news-content-item-detail-title">{{ data.new_data[1].title}}</span>
									<span class="home-news-content-item-detail-money"><em>{{ data.charPrice }}{{ data.new_data[1].price }}</em></span>
								</div>
							</div>
							<div class="home-news-content-item-right" data-id="{{ data.new_data[2].id}}" v-on:tap="openDetail">
								<img class="home-news-content-item-right-img" src="{{data.baseImgUrl == null ? '' : data.baseImgUrl}}{{data.new_data[2].cover == null ? '../www/img/imgDefault.png' : data.new_data[2].cover}}" />
								<div class="home-news-content-item-detail home-width-180">
									<span class="home-news-content-item-detail-title">{{ data.new_data[2].title}}</span>
									<span class="home-news-content-item-detail-money"><em>{{ data.charPrice }}{{ data.new_data[2].price }}</em></span>
								</div>
							</div>
						</div>

						<div class="home-news-content-item">
							<div class="home-news-content-item-title">
								<label class="home-news-content-item-title-name">商品推荐</label>
							</div>
							<div class="home-news-content-item-line"></div>
							<div class="home-news-content-item-photo">
								<!--<div v-for="item in data.item_data" class="home-news-content-item-photo-list" style="background: url({{ data.baseImgUrl }}{{ item.cover }}); background-size: cover;" id="{{ item.id }}">
									<div class="home-news-content-item-photo-title">{{ item.title }}<em>{{ data.charPrice }}{{ item.price }}</em></div>
								</div>-->
								<!--直接改data.items-->
								<div class="shopping-list-item" v-cloak v-for="item in data.item_data" data-id="{{item.id}}" data-shop-id="item.shop_id" v-on:tap="openDetail">
									<div class="shopping-list-item-bg" style="background: url({{data.baseImgUrl}}{{item.cover}}); background-size: cover;"></div>
									<div class="shopping-list-item-title">
										<span class="shopping-list-item-title-span">{{item.title}}</span>
									</div>
									<div class="shopping-list-item-store">
										<div class="shopping-list-item-store-left">
											<!--<span class="shop-span"></span>
											<span class="shopping-list-item-store-name">{{item.shop_name}}</span>-->
											<span class="shopping-list-item-store-price">&yen;<em>{{item.price}}</em></span>
										</div>
										<!--<div class="shopping-list-item-store-right">
											<span class="shopping-list-item-store-price">&yen;<em>{{item.price}}</em></span>
										</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/md5.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/public.js"></script>
		<script>
			var first = null;
			mui.back = function() {
				quitApp(first);
			};
			var bugReset = false;
			var firstLoad = true;
			mui.init({
				pullRefresh: {
					container: '#refreshContainer',
					down: {
						callback: downCallBack
					}
				}
			});
			var vueObj = new Vue({
				el: "#home-container-all",
				data: {
					"data": {
						"new_data": [{}, {}, {}]
					}
				},
				methods: {
					openDetail: function(event) {
						var thisBtn = event.currentTarget;
						var _id = thisBtn.getAttribute("data-id");
						mui.openWindow({
							url: "thirdlv/webview-trade-detail.html",
							styles: fnSetSubpageStyle(0, 0),
							createNew: false,
							extras: {
								itemID: _id
							},
							show: {
								autoShow: true,
								aniShow: "pop-in",
								duration: 300
							},
							waiting: {
								autoShow: false
							}
						});
					}
				}
			});

			function downCallBack() {
				getData();
			}
			//			//设置轮播图轮播周期
			//			var gallery = mui('.mui-slider');
			//			gallery.slider({
			//				interval: 5000 //轮播图周期，若为0则不自动播放，默认为0；
			//			});
			function fnOpenWindow(extra) {
				mui.openWindow({
					url: "webview-normal-list-header.html",
					id: "webview-normal-list-header.html",
					createNew: false,
					show: {
						autoShow: true,
						aniShow: "pop-in",
						duration: 300
					},
					waiting: {
						autoShow: false
					},
					extras: extra
				});
			}

			function getData() {
				if (NetWorkStatus()) {
					mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
					return;
				}
				if (bugReset) {
					bugReset = false;
					mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
					return;
				}
				var URL = "http://farm.rrzuji.com/v1/app/home?" + fnCreateSign();
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					timeout: 10000,
					success: function(res) {
						console.log("获取首页数据成功" + res);
						res = JSON.parse(res);
						if (res.success) {
							if (firstLoad) {
								bugReset = true;
								firstLoad = false;
								vueObj.$data = res;
								vueObj.$nextTick(function() {
									// DOM 现在更新了
									mui(".mui-slider").slider({
										interval: 5000
									});
								});
								mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
								return;
							} else {
								vueObj.$data = res;
								Vue.nextTick(function() {
									// DOM 现在更新了
									mui(".mui-slider").slider({
										interval: 5000
									});
								});
							}
						}
						mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
					},
					error: function(xhr, type, errorThrown) {
						console.log(JSON.stringify(xhr));
						mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
						mui.toast("加载失败，请检查您的网络");
					}
				});
			}
			mui.plusReady(function() {
				plus.navigator.closeSplashscreen();
				setTimeout(function() {
					mui('#refreshContainer').pullRefresh().pulldownLoading();
				}, 1000);
				document.querySelector("#homeLive").addEventListener("tap", function(e) {
					fnOpenWindow({
						title: "亲子",
						category: "2"
					});
				});
				document.querySelector("#homeActivity").addEventListener("tap", function(e) {
					fnOpenWindow({
						title: "农家乐",
						category: "2"
					});
				});
				document.querySelector("#homeShop").addEventListener("tap", function(e) {
					mui.openWindow({
						url: "secondlv/webview-shopping-list.html",
						id: "secondlv/webview-shopping-list.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: false
						}
					});
				});
				document.querySelector("#homeRent").addEventListener("tap", function(e) {
					fnOpenWindow({
						title: "认租",
						category: "1"
					});
				});
				document.querySelector("#homeEat").addEventListener("tap", function(e) {
					fnOpenWindow({
						title: "民宿",
						category: "4"
					});
				});
			});
		</script>
	</body>

</html>