<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<script src="../js/flexible_css.debug.js"></script>
		<script src="../js/flexible.debug.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<style>
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				margin: 0;
			}
			
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			
			[v-cloak] {
				display: none;
			}
			
			div#slider {
				bottom: 50px;
			}
			
			#recordStative {
				height: 40px;
				width: 94%;
				margin: 0 3%;
				position: fixed;
				bottom: 5px;
				border-radius: 2px;
				color: rgb(30, 30, 30);
				text-align: center;
				line-height: 40px;
				background-color: rgb(255, 255, 255);
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="header-control">
				<div class="header-control-left-btn  mui-action-back">
					<span class="white-arrow-big-span header-control-left-btn-span"></span>
				</div>
				<div>
					<span id="webview-head-title">我的社区</span>
				</div>
				<div class="header-control-right-btn">
					<span class="header-control-right-btn-span search-span"></span>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item1mobile" data-id="shareList" data-scroll-id="shareScroll" data-first="false">
						分享
					</a>
					<a class="mui-control-item" href="#item2mobile" data-id="questionList" data-scroll-id="questionScroll" data-first="true">
						问答
					</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>

				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll" id="shareScroll">
								<div class="spinner" style="display: block;">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
								<div class="comu-list-tab-container" id="shareList">
									<div class="comu-content" v-cloak v-on:tap="openComuDetail" v-for="item in data.items" data-id="{{item.id}}">
										<div class="comu-content-main">
											<div class="comu-content-main-title">
												<div class="comu-content-main-user" v-on:tap.stop="openUserDetail" data-user-id="{{item.user_id}}">
													<span class="comu-user-picture" style="background: url({{item.user_avatar == null ? '../../www/img/head.jpg' : item.user_avatar }}); background-size: cover;">
													</span>
													<span class="comu-user-name">{{item.user_name}}</span>
													<span class="comu-user-date">&nbsp;&nbsp;{{item.created_at}}</span>
												</div>
												<div id="delete-my-comu-content" v-on:tap.stop="deleteComuContent" data-id="{{item.id}}">
													<span class="mui-icon mui-icon-trash"></span>
												</div>
											</div>
											<div class="comu-content-main-article">
												{{item.text}}
											</div>
											<div class="comu-content-main-photo">
												<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;"></span>
											</div>
											<div class="comu-comment-control">
												<div class="comu-comment-control-left" v-on:tap.stop="tapPraise" data-id="{{item.id}}" data-index="{{$index}}" data-islike="{{item.is_like.toString()}}">
													<span class="{{item.is_like?'comu-comment-praise-active':'comu-comment-praise-default'}}"></span>
													<span class="comu-comment-control-text">{{item.like_num}}</span>
												</div>
												<div class="comu-comment-control-right">
													<span class="comu-comment-control-logo-comu"></span>
													<span class="comu-comment-control-text">{{item.comment_num}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="questionScroll">
								<div class="spinner" style="display: block;">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
								<div class="comu-list-tab-container" id="questionList">
									<div class="comu-content" v-cloak v-on:tap="openComuDetail" v-for="item in data.items" data-id="{{item.id}}">
										<div class="comu-content-main">
											<div class="comu-content-main-title">
												<div class="comu-content-main-user" v-on:tap.stop="openUserDetail" data-user-id="{{item.user_id}}">
													<span class="comu-user-picture" style="background: url({{item.user_avatar == null ? '../../www/img/head.jpg' : item.user_avatar }}); background-size: cover;">													
													</span>
													<span class="comu-user-name">{{item.user_name}}</span>
													<span class="comu-user-date">&nbsp;&nbsp;{{item.created_at}}</span>
												</div>
												<div id="delete-my-comu-content" v-on:tap.stop="deleteComuContent" data-id="{{item.id}}">
													<span class="mui-icon mui-icon-trash"></span>
												</div>
											</div>
											<div class="comu-content-main-article">
												{{item.text}}
											</div>
											<div class="comu-content-main-photo">
												<span class="comu-content-main-photo-list" v-for="img in item.images" style="background: url({{img}}); background-repeat: no-repeat;background-position: center; background-size: cover;"></span>
											</div>
											<div class="comu-comment-control">
												<div class="comu-comment-control-left" v-on:tap.stop="tapPraise" data-id="{{item.id}}" data-index="{{$index}}" data-islike="{{item.is_like.toString()}}">
													<span class="{{item.is_like?'comu-comment-praise-active':'comu-comment-praise-default'}}"></span>
													<span class="comu-comment-control-text">{{item.like_num}}</span>
												</div>
												<div class="comu-comment-control-right">
													<span class="comu-comment-control-logo-comu"></span>
													<span class="comu-comment-control-text">{{item.comment_num}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="recordStative">
			记录动态
		</div>
		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/md5.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<script>
			// 系统页面初始化
			mui.init();
			//阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			mui('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: true, //是否显示滚动条
				deceleration: deceleration
			});
			var url = null;
			var tabObj = function(IDlist, IDscroll, isFirst) {
				this.list_ID = IDlist;
				this.refreshContainer = mui(document.getElementById(IDscroll));
				this.first = isFirst;
				this.page = 1;
				this.url = url[IDlist] + "&page=";
				this.refreshSign = "";
				this.vueObj = null;
				this.spinner = document.querySelector("#" + IDscroll + " .spinner");				
				this.praiseFirst = null;
				// 保存动态列表
				this.itemData = [];
				this.init();
			}
			tabObj.prototype = {
				init: function() {
					if (this.first == "false") {
						return;
					}
					console.log("初始化");
					this.bindVue();
					this.getData();
				},
				initPullRefresh: function() {
					var thisObj = this;
					thisObj.refreshContainer.pullToRefresh({
						down: {
							callback: function() {
								thisObj.refreshSign = "down";
								thisObj.page = 1;
								thisObj.getData();
							}
						},
						up: {
							callback: function() {
								thisObj.refreshSign = "up";
								thisObj.getData();
							}
						}
					});
				},
				dealFirst: function(data) {
					var thisObj = this;
					try {
						thisObj.first = "false";
						// 整体更换初始化vue数据
						thisObj.vueObj.$data = data;
						thisObj.vueObj.$nextTick(function() {
							thisObj.spinner.style.display = "none";
							thisObj.initPullRefresh();
							thisObj.noMore(data);
						});
					} catch (err) {
						console.log(err);
					}
				},
				getData: function() {
					if (NetWorkStatus()) {
						return;
					}
					var URL = this.url + this.page + "&" + fnCreateSign();
					var thisObj = this;
					mui.ajax(URL, {
						type: "GET",
						dataType: "JSON",
						timeout: 15000,
						success: function(res) {
							console.log(URL);
							console.log("获取到的列表数据，我的社区" + res);
							res = JSON.parse(res);
							if (res.success) {
								thisObj.page++;
								// 第一次获取数据后的处理
								if (thisObj.first == "true") {
									thisObj.dealFirst(res);
									thisObj.itemData = res.data.items;
								} else {
									// 不是第一次
									if (thisObj.refreshSign == "up") {
										console.log("上拉刷新");
										var _items = res.data.items;
										thisObj.itemData = thisObj.itemData.concat(_items);
										thisObj.vueObj.data.items = thisObj.vueObj.data.items.concat(_items);
//										for (var i = 0; i < _items.length; i++) {			
//											// 如果把thisObj.itemData的处理放在这里，会出错
//											thisObj.vueObj.data.items.push(_items[i]);//											
//										}
										if (thisObj.noMore(res)) {
											return;
										};
									} else {
										thisObj.vueObj.$data = res;										
										thisObj.refreshContainer.pullToRefresh().endPullDownToRefresh();
										thisObj.refreshContainer.pullToRefresh().refresh(true);										
										thisObj.noMore(res);
										thisObj.itemData = res.data.items;
										return;
									}
								}
							}
							thisObj.stopRefresh();
						},
						error: function(xhr, type, errorThrown) {
							ajaxError(xhr);
							thisObj.stopRefresh();
							mui.toast("加载失败，请检查您的网络");
						}
					});
				},
				noMore: function(res) {
					var thisObj = this;
					if (res.data._meta.currentPage == res.data._meta.pageCount || res.data._meta.pageCount == 0) {
						thisObj.refreshContainer.pullToRefresh().endPullUpToRefresh(true);
						return true;
					}
				},
				stopRefresh: function(self) {
					var sign = this.refreshSign;
					// 没有更多数据的话，refresh设置true
					if (sign == "down") {
						this.refreshContainer.pullToRefresh().endPullDownToRefresh();
					}
					if (sign == "up") {
						this.refreshContainer.pullToRefresh().endPullUpToRefresh();
					}
				},
				bindVue: function() {
					// 绑定vue
					var thisObj = this;
					thisObj.vueObj = new Vue({
						el: "#" + thisObj.list_ID,
						data: {},
						methods: {
							openDetail: function(event) {
								console.log("事件处理");
							},
							tapPraise: function(event) {
								// 点赞
								thisObj.handlePraise(event);
							},
							openComuDetail: function(event) {
								// 打开评论详情页
								thisObj.handleOpenComuDetail(event);
							},
							openUserDetail: function(event) {
								thisObj.handleOpenUserDetail(event);
							},
							deleteComuContent: function(event) {
								thisObj.handleDeleteComuContent(event);
							}
						}
					})
				},
				triggerDownRefresh: function() {
					// 触发下拉刷新
					this.refreshContainer.pullToRefresh().pullDownLoading();
				},
				handlePraise: function(event) {
					// 点击时改变vue数组的值;
					// 然后发送请求，请求时创建一个临时数据，记录在请求期间点赞的变化（用户重复点击），保存最后一个点赞值
					// 请求完成时，根据这个最后的点赞值判断是否需要再发送请求。如果请求失败，回到上一次点赞的值。
					var thisBtn = event.currentTarget;
					if (!userLoginStatus()) {
						openLogin(thisBtn, true);
						return;
					}
					var index = thisBtn.getAttribute("data-index");
					var status = thisBtn.getAttribute("data-islike");
					var send = thisBtn.getAttribute("data-send");
					var _id = thisBtn.getAttribute("data-id");
					var numContent = thisBtn.getElementsByClassName("comu-comment-control-text")[0];
					var num = parseInt(numContent.innerText);
					if (status == "true") {
						if (!send) {
							thisBtn.setAttribute("data-send", "sending");
							this.praiseFirst = true;
						}
						(num >= 1) && (num = --num);
						numContent.innerText = num;
						this.vueObj.$set("data.items[" + index + "].is_like", false);
					} else {
						if (!send) {
							thisBtn.setAttribute("data-send", "sending");
							this.praiseFirst = false;
						}
						numContent.innerText = ++num;
						this.vueObj.$set("data.items[" + index + "].is_like", true);
					}
					this.praiseAjax(thisBtn, _id);
				},
				praiseAjax: function(btn, id) {
					if (!mui.os.plus) {
						return;
					}
					var thisObj = this;
					var token = plus.storage.getItem("tokenValue");
					var URL = this.praiseFirst ? "http://farm.rrzuji.com/v1/community/unlike?" : "http://farm.rrzuji.com/v1/community/like?";
					URL = URL + fnCreateSign() + "&access-token=" + token;
					mui.ajax(URL, {
						type: "POST",
						dataType: "JSON",
						data: {
							community_id: id
						},
						success: function(res) {
							res = JSON.parse(res);
							console.log(JSON.stringify(thisObj.vueObj.$data));
							if (res.success) {
								!thisObj.praiseFirst ? console.log("已点赞") : console.log("已取消点赞");
								btn.removeAttribute("data-send");
							} else {
								thisObj.praiseAjaxError(btn);
							}
						},
						error: function(xhr) {
							thisObj.praiseAjaxError(btn);
							ajaxError(xhr);
						}
					});
				},
				praiseAjaxError: function(thisBtn) {
					// 点赞出错回滚
					var numContent = thisBtn.getElementsByClassName("comu-comment-control-text")[0];
					var num = parseInt(numContent.innerText);
					if (this.praiseFirst) {
						numContent.innerText = ++num;
						this.vueObj.$set("data.items[" + index + "].is_like", true);
					} else {
						(num >= 1) && (num = --num);
						numContent.innerText = num;
						this.vueObj.$set("data.items[" + index + "].is_like", false);
					}
				},
				handleOpenComuDetail: function(event) {
					// 打开社区详情
					if (!userLoginStatus()) {
						openLogin(this, true);
						return;
					}
					var itemID = event.currentTarget.getAttribute("data-id");
					var token = plus.storage.getItem("tokenValue");
					console.log(itemID);
					console.log(token);
					mui.openWindow({
						url: "webview-comu-detail.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						extras: {
							_id: itemID,
							token: token
						},
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: false
						}
					});
				},
				handleOpenUserDetail: function(event) {
					console.log("打开用户信息");
				},
				handleDeleteComuContent: function(event) {
					if (!userLoginStatus()) {
						openLogin(this, true);
						return;
					}
					var thisObj = this;
					var itemID = event.currentTarget.getAttribute("data-id");
					plus.nativeUI.confirm("确定删除这条动态？", function(e) {
						if (e.index == 0) {							
							var token = plus.storage.getItem("tokenValue");
							var URL = "http://farm.rrzuji.com/v1/talk/delete?" + fnCreateSign() + "&access-token=" + token + "&id=" + itemID;
							mui.ajax(URL, {
								type: "POST",
								dataType: "JSON",
								data: {},
								success: function(res) {
									console.log(res);
									res = JSON.parse(res);
									if (res.success) {
										var _items = thisObj.itemData;
										for (var i = 0; i < _items.length; i ++) {
											if (_items[i].id == itemID) {
												_items.splice(i, 1);
												thisObj.vueObj.data.items = _items;
												thisObj.itemData = _items;
												break;
											}
										}
										mui.toast("删除成功");										
									}
								},
								error: function(xhr) {
									ajaxError(xhr);
								}
							});
						}
					}, "退出", ["确定", "取消"])
				}
			};
			// 存放分享、问答两个tab对象。
			// 当用户发布动态时，数组里面两个对象触发刷新列表
			var objArray = [];
			window.addEventListener("initPage", function(e) {
				url = {
					"shareList": "http://farm.rrzuji.com/v1/talk/index?type=1&access-token=" + e.detail.tokenValue,
					"questionList": "http://farm.rrzuji.com/v1/talk/index?type=2&access-token=" + e.detail.tokenValue
				};
				// 第一个标签手动设置				
				var newObj = new tabObj("shareList", "shareScroll", "true");
				objArray.push(newObj);
				document.getElementById("slider").addEventListener("scrollend", function() {
					var elem = document.querySelector("#sliderSegmentedControl .mui-active");
					if (elem.getAttribute("data-id") == null) {
						return;
					}
					var first = elem.getAttribute("data-first");
					if (first == "true") {
						var newObj2 = new tabObj(elem.getAttribute("data-id"), elem.getAttribute("data-scroll-id"), first);
						objArray.push(newObj2);
						elem.setAttribute("data-first", "false");
					}
				})
			});
			window.addEventListener("refreshTab", function(e) {
				var type = e.detail.type;
				if (type == 1 && objArray[0]) {
					objArray[0].triggerDownRefresh();
				}
				if (type == 2 && objArray[1]) {
					objArray[1].triggerDownRefresh();
				}
			});
			mui.plusReady(function() {
				document.getElementById("recordStative").addEventListener("tap", function() {
					mui.openWindow({
						url: "../thirdlv/webview-comu-promulgate.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						extras: {
							//							itemID: _id
						},
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: true
						}
					});
				});
			});
		</script>
	</body>

</html>