<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的订单</title>
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<script src="../js/flexible_css.debug.js"></script>
		<script src="../js/flexible.debug.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<style>
			[v-cloak] {
				display: none;
			}
			
			.display-block {
				display: block;
			}
			
			.display-none {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="vueContainer">
			<div id="searchDataNull" v-cloak class="{{data.length == 0 ? 'display-block' : 'display-none'}}" style="text-align: center; color: #000000;">订单列表为空</div>
			<div class="my-trader-item" v-for="item in data" v-cloak v-if="item.item_num > 0" v-on:tap="openOrderDetail" data-orderId="{{item.id}}">
				<div class="my-trader-title">
					<div class="my-trader-title-logo">
						<span class="shop-span"></span>
					</div>
					<div class="my-trader-title-name">
						<span>{{item.shop_name}}</span>
					</div>
					<div class="my-trader-title-right my-order-title-status">{{item.status == 1 ? "进行中" : "已完成"}}</div>
				</div>
		
				<div class="my-trader-content my-order-content" v-for="i in item.order_data">
					<div class="my-trader-content-img my-order-content-bottom-border">
						<div class="my-trader-content-img-hold" style="background: url({{i.cover}}); background-size: cover; background-position: center"></div>
					</div>
					<div class="my-trader-content-detail my-order-content-bottom-border">
						<div class="my-trader-content-detail-container">
							<span class="collect-order-trader-name">{{i.title}}</span>
							<span class="collect-order-trader-detail">{{i.standard_name}}</span>
							<span class="collect-order-trader-money">&nbsp;&yen;&nbsp;{{i.price}}</span>
							<span class="collect-order-trader-count my-order-count">x{{i.num}}</span>
						</div>
					</div>
				</div>
				<!--尾部-->
				<div class="my-order-total">
					<div class="my-order-total-btn">
						<button id="delete-my-order" v-on:tap.stop="deleteOrder" data-id="{{item.id}}" data-index="{{$index}}">删除订单</button>
					</div>
					<div class="my-order-total-detail">
						<span>
							共<em>{{item.item_num}}</em>件商品&nbsp;&nbsp;合计&nbsp;&yen;<em>{{item.pay_money}}</em>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/md5.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/vue.min.js"></script>
		<script>
			mui.init();
			
			mui.back = function() {
				mui.fire(plus.webview.getWebviewById("webview-header"), "back", {});	
				var w = plus.webview.getWebviewById("webview-trade-order.html");
				if (w) {
					w.hide();	
					w.close();					
				}
//				plus.webview.getWebviewById("webview-header").hide();
			};
			var vueObj = null;

			function initVue(data) {
				vueObj = new Vue({
					el: "#vueContainer",
					data: data,
					methods: {
						deleteOrder: function(event) {
							handleDelete(event);
						},
						openOrderDetail: function(event) {
							var _id = event.currentTarget.getAttribute("data-orderId");
							openOrderDetail(_id);
						}
					}
				});
			};
			// 打开订单详情页
			function openOrderDetail(orderId) {
				mui.openWindow({
					url: "../thirdlv/webview-trade-order-detail.html",
					id: "webview-trade-order-detail.html",
					styles: fnSetSubpageStyle(0, 0),
					createNew: false,
					extras: {
						data: {
							title: "订单详情",
							orderId: orderId
						}
					},
					show: {
						autoShow: true,
						aniShow: "pop-in",
						duration: 300
					},
					waiting: {
						autoShow: true
					}
				});
			};

			function handleDelete(event) {
				if (!userLoginStatus()) {
					openLogin(this, true);
					return;
				}
				if (!userLoginStatus()) {
					openLogin(this, true);
					return;
				}
				var id = event.currentTarget.getAttribute("data-id");
				var index = event.currentTarget.getAttribute("data-index");
				var token = plus.storage.getItem("tokenValue");
				var URL = "http://farm.rrzuji.com/v1/order/delete?" + fnCreateSign() + "&access-token=" + token + "&id=" + id;
				mui.ajax(URL, {
					type: "POST",
					dataType: "JSON",
					success: function(res) {
						console.log("订单删除成功" + res);
						res = JSON.parse(res);
						if (res.success) {
							vueObj.data.$remove(vueObj.data[index]);
						}
					},
					error: function(xhr) {
						ajaxError();
					}
				});
			}

			function initData(status) {
				if (!userLoginStatus()) {
					openLogin(this, true);
					return;
				}
				if (!userLoginStatus()) {
					openLogin(this, true);
					return;
				}
				var token = plus.storage.getItem("tokenValue");
				var str = "";
				// 默认为全部订单  1为进行中  10为已结束
				if (parseInt(status) == 1 || parseInt(status) == 10) {
					str = "&status=" + status;
				}
				var URL = "http://farm.rrzuji.com/v1/order/index?" + fnCreateSign() + "&access-token=" + token + str;
				console.log(URL);
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					success: function(res) {
						console.log("获取到订单数据" + res);
						res = JSON.parse(res);
						initVue(res);
					},
					error: function(xhr) {
						ajaxError();
					}
				});
			};
//			window.addEventListener("getData", function(e) {
//				initData(e.detail.status);
//			});
			mui.plusReady(function() {
				var cw = plus.webview.currentWebview();
				plus.webview.getWebviewById("webview-header").append(cw);
				var status = cw.status;
				console.log(status);
				initData(status);
			});
		</script>
	</body>

</html>