<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的购物车</title>
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<script src="../js/flexible_css.debug.js"></script>
		<script src="../js/flexible.debug.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<style>
			[v-cloak] {
				display: none;
			}
			
			.span-hide {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="collectNull" v-cloak>购物车为空</div>
		<div id="vueContainer">
			<div class="spinner" style="display: block;">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
			<div class="my-trader-item" v-for="item in data.items" v-cloak v-if="item.carts.length > 0">
				<div class="my-trader-title">
					<div class="my-trader-title-logo" data-shop-id="{{item.shop_id}}" v-on:tap.stop="openShop">
						<span class="shop-span"></span>
					</div>
					<div class="my-trader-title-name">{{item.shop_name}}</div>
					<!--<div class="my-trader-title-right" v-on:tap.stop="deleteTrade" data-id="{{item.id}}" data-index="{{$index}}">
						<span class="shop-delete-span"></span>
					</div>-->
				</div>
				<div class="my-trader-content my-order-content" v-for="i in item.carts" v-if="i.item_price != 0" v-cloak>
					<!--<div class="my-shop-car-check" v-on:tap.stop="checkOnTap">-->
					<div class="my-shop-car-check">
						<span class="radio-check-span radio-check-item" id="check{{i.id}}" data-base-price="{{i.item_price}}" data-price="{{i.item_price * i.item_nums}}">
							<span class="span-hide" data-carId="{{i.id}}" data-shopId="{{item.shop_id}}" data-shopImg="{{i.shop_image}}" data-shopName="{{item.shop_name}}" data-itemImg="{{i.item_cover}}" data-itemName="{{i.item_title}}" data-standardName="{{i.item_standard_name}}" data-Price="{{i.item_price}}" data-Num="{{i.item_nums}}">隐藏域，用来储存订单表单信息</span>
						</span>
					</div>
					<div class="my-trader-content-img" v-on:tap="openTradeDetail" data-itemId="{{i.item_id}}">
						<div class="my-trader-content-img-hold" style="background: url({{i.item_cover}}); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
					</div>
					<div class="my-trader-content-detail" v-on:tap="openTradeDetail" data-itemId="{{i.item_id}}">
						<div class="my-trader-content-detail-container ">
							<span class="collect-order-trader-name">{{i.item_title}}</span>
							<span class="shop-delete-span-small" v-on:tap.stop="deleteTrade" data-id="{{i.id}}" data-index="{{$index}}" data-shopId="{{item.shop_id}}"></span>
							<span class="collect-order-trader-detail">{{i.item_standard_name}}</span>
							<span class="collect-order-trader-money">&nbsp;&yen;&nbsp;<em>{{i.item_price}}</em></span>
							<div class="num-choice shop-car-num-choice" data-normal="{{i.item_price}}" data-listId="{{i.id}}" data-itemId="{{i.item_id}}" data-shopId="{{item.shop_id}}" data-shopName="{{item.shop_name}}">
								<span class="num-choice-left num-choice-item" v-on:tap.stop="choiceLeft" data-listId="{{i.id}}">-</span>
								<span class="num-choice-mid num-choice-item" v-on:tap.stop="">{{i.item_nums}}</span>
								<span class="num-choice-right num-choice-item" v-on:tap.stop="choiceRight" data-listId="{{i.id}}">+</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="foot-control-bar line-weight-half-top">
				<div class="my-shop-car-check" id="checkAll">
					<span class="radio-check-span set-middle" id="checkAllCheck"></span>
					<label class="set-middle">&nbsp;全选</label>
				</div>
				<div class="my-shop-car-pay" >
					<span style="overflow: hidden;">
					合计&nbsp;			
					<em class="allCount-red">&yen;&nbsp;</em>
					<em class="allCount-red" id="allCount" style="overflow: hidden;">0</em>
					</span>&nbsp;
				</div>
				<div class="my-shop-car-pay-button my-shop-car-pay">
					<button id="createForm">结算</button>
				</div>
			</div>
		</div>

		<div id="head-holder"></div>
		<div id="head-holder"></div>

		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="../js/mui.min.js "></script>
		<script src="../js/md5.min.js "></script>
		<script src="../js/public.js "></script>
		<script src="../js/vue.min.js"></script>
		<script>
			mui.init();
			var old_back = mui.back;
			mui.back = function() {
				if (mui.os.plus) {
					var w = plus.webview.getWebviewById("webview-my.html");
					mui.fire(w, "setNum", {});
				}
				old_back();
			};
			var vueObj = null;
			var shopId = "";
			var shopName = "";
			// 商品真实id
			var itemId = "";
			// 列表id
			var listId = "";
			// 每一次获取到的购物车数据
			var shopCatData = null;
			// 单选按钮控制
			var checkControl = {
				allCount: document.getElementById("allCount"),
				checkGroup: null,
				checkAllCheck: null,
				first: true,
				handleCheckAll: function() {
					var checkGroup = this.checkGroup;
					for (var i = 0; i < checkGroup.length; i++) {
						if (checkGroup[i]) {
							checkGroup[i].classList.add("radio-check-active");
						}
					}
				},
				handleCheckAllCount: function() {
					var checkGroup = this.checkGroup;
					var allCount = 0;
					for (var i = 0; i < checkGroup.length; i++) {
						if (checkGroup[i]) {
							allCount = (parseFloat(allCount) + parseFloat(checkGroup[i].getAttribute("data-price"))).toFixed(1);
						}
					}
					this.allCount.innerText = allCount;
				},
				handleCancelCheckAll: function() {
					var checkGroup = this.checkGroup;
					for (var i = 0; i < checkGroup.length; i++) {
						if (checkGroup[i]) {
							checkGroup[i].classList.remove("radio-check-active");
						}
					}
				},
				handleCheckOne: function(btn) {
					if (btn.classList.contains("radio-check-active")) {
						this.allCount.innerText = (parseFloat(this.allCount.innerText) - parseFloat(btn.getAttribute("data-price"))).toFixed(1);
					} else {
						this.allCount.innerText = (parseFloat(this.allCount.innerText) + parseFloat(btn.getAttribute("data-price"))).toFixed(1);
					}
					fnToggleElemClass(btn, "radio-check-active");
					// 对全选做处理
					var chk = document.getElementsByClassName("radio-check-item");
					var chk2 = document.getElementsByClassName("radio-check-active");
					var tamp = 0;
					if (this.checkAllCheck.classList.contains("radio-check-active")) {
						tamp = 1;
					}
					if (chk.length != chk2.length - tamp) {
						this.checkAllCheck.classList.remove("radio-check-active");
					} else {
						this.checkAllCheck.classList.add("radio-check-active");
					}
				},
				addCheckOneEventListen: function(btn) {
					var thisObj = this;
					btn.parentNode.addEventListener("tap", function(e) {
						thisObj.handleCheckOne(btn);
					});
				},
				handleDelete: function(id) {
					// 删除某一项 
					var btn = document.getElementById("check" + id);
					if (btn.classList.contains("radio-check-active")) {
						this.allCount.innerText = (parseFloat(this.allCount.innerText) - parseFloat(btn.getAttribute("data-price"))).toFixed(1);
					}
				},
				handleAddNum: function(id) {
					// 选定状态下加1
					var btn = document.getElementById("check" + id);
					if (btn.classList.contains("radio-check-active")) {
						var basePrice = btn.getAttribute("data-base-price");
						this.allCount.innerText = (parseFloat(this.allCount.innerText) + parseFloat(basePrice)).toFixed(1);
					}
				},
				handleReduceNum: function(id) {
					// 选定状态下减1
					var btn = document.getElementById("check" + id);
					if (btn.classList.contains("radio-check-active")) {
						var basePrice = btn.getAttribute("data-base-price");
						this.allCount.innerText = (parseFloat(this.allCount.innerText) - parseFloat(basePrice)).toFixed(1);
					}
				},
				initCheckGroup: function() {
					var checkGroup = document.getElementsByClassName("radio-check-item");
					for (var i = 0; i < checkGroup.length; i++) {
						this.addCheckOneEventListen(checkGroup[i]);
					}
					this.checkGroup = checkGroup;
					if (this.first) {
						this.initCheck();
						this.orderForm();
						this.first = false;
					}
				},
				initCheck: function() {
					// 全选，取消全选
					var thisObj = this;
					this.checkAllCheck = document.getElementById("checkAllCheck");
					document.getElementById("checkAll").addEventListener("tap", function() {
						if (thisObj.checkAllCheck.classList.contains("radio-check-active")) {
							thisObj.checkAllCheck.classList.remove("radio-check-active");
							thisObj.handleCancelCheckAll();
							thisObj.allCount.innerText = 0;
						} else {
							thisObj.checkAllCheck.classList.add("radio-check-active");
							thisObj.handleCheckAll();
							thisObj.handleCheckAllCount();
						}
					});
				},
				orderForm: function() {
					// 结算
					var thisObj = this;
					var btn = document.getElementById("createForm");
					btn.addEventListener("tap", function() {
						if (!userLoginStatus()) {
							openLogin(this, true);
							return;
						}
						var checkGroup = document.querySelectorAll(".radio-check-active .span-hide");
						if (checkGroup.length == 0) {
							return;
						}
						var data = thisObj.createFormData(checkGroup);
						mui.openWindow({
							url: "../thirdlv/webview-trade-order.html",
							id: "webview-trade-order.html",
							styles: fnSetSubpageStyle(0, 0),
							createNew: false,
							extras: {
								data: data
							},
							show: {
								autoShow: true,
								aniShow: "pop-in",
								duration: 300
							},
							waiting: {
								autoShow: true
							}
						});
						console.log(JSON.stringify(data));
					});
				},
				createFormData: function(checkGroup) {
					var allNum = 0;
					var allCount = 0;
					var shopIdPrev = 0,
						shopIdCurrent = 0;
					var first = true;
					var data = {
						shopItems: [],
						dataPost: {
							cart_id: []
						}
					};
					var shopIndex = 0;
					for (var i = 0; i < checkGroup.length; i++) {
						var shopId = checkGroup[i].getAttribute("data-shopId");
						if (first) {
							shopIdCurrent = shopId;
							shopIdPrev = shopId;
							first = false;
							var tamp = {
								shopImg: checkGroup[i].getAttribute("data-shopImg"),
								shopName: checkGroup[i].getAttribute("data-shopName"),
								items: [{
									itemImg: checkGroup[i].getAttribute("data-itemImg"),
									itemName: checkGroup[i].getAttribute("data-itemName"),
									standardName: checkGroup[i].getAttribute("data-standardName"),
									itemPrice: checkGroup[i].getAttribute("data-price"),
									itemNums: checkGroup[i].getAttribute("data-Num")
								}]
							}
							data.shopItems.push(tamp);
							console.log("创建了一个商铺");
						} else {
							shopIdCurrent = shopId;
							if (shopIdPrev != shopIdCurrent) {
								shopIdPrev = shopIdCurrent;
								shopIndex++;
								var tamp = {
									shopImg: checkGroup[i].getAttribute("data-shopImg"),
									shopName: checkGroup[i].getAttribute("data-shopName"),
									items: [{
										itemImg: checkGroup[i].getAttribute("data-itemImg"),
										itemName: checkGroup[i].getAttribute("data-itemName"),
										standardName: checkGroup[i].getAttribute("data-standardName"),
										itemPrice: checkGroup[i].getAttribute("data-price"),
										itemNums: checkGroup[i].getAttribute("data-Num")
									}]
								}
								data.shopItems.push(tamp);
								console.log("创建了一个商铺");
							} else {
								var tamp = {
									itemImg: checkGroup[i].getAttribute("data-itemImg"),
									itemName: checkGroup[i].getAttribute("data-itemName"),
									standardName: checkGroup[i].getAttribute("data-standardName"),
									itemPrice: checkGroup[i].getAttribute("data-price"),
									itemNums: checkGroup[i].getAttribute("data-Num")
								}
								data.shopItems[shopIndex].items.push(tamp);
							}
						}
						data.dataPost.cart_id.push(checkGroup[i].getAttribute("data-carId"));
						allNum = parseInt(allNum) + parseInt(checkGroup[i].getAttribute("data-Num"));
						allCount = parseFloat(parseFloat(checkGroup[i].getAttribute("data-price")) * parseInt(checkGroup[i].getAttribute("data-Num")) + parseFloat(allCount)).toFixed(1);
					}
//					data.isShopCar = data.shopItems.length > 1 ?  true : false;
//					console.log(data.shopItems.length);
//					console.log(data.isShopCar);
					data.isShopCar = true;
					data.allCount = allCount;
					data.allNum = allNum;
					return data;
				}
			};

			function initVue(res) {
				vueObj = new Vue({
					el: "#vueContainer",
					data: res,
					methods: {
						choiceLeft: function(event) {
							handleChoiceLeft(event);
						},
						choiceRight: function(event) {
							handleChoiceRight(event);
						},
						openTradeDetail: function(event) {
							handleOpenTradeDetail(event);
						},
						openShop: function(event) {
							handleOpenShop(event);
						},
						deleteTrade: function(event) {
							// 删除商品
							handleDeleteTrade(event);
						}
					}
				});
				vueObj.$nextTick(function() {
					console.log("绑定点击事件");
					checkControl.initCheckGroup();
					document.querySelector(".spinner").style.display = "none";
				});
			};
			// 减号
			function handleChoiceLeft(event) {
				var id = event.currentTarget.getAttribute("data-listId");
				for (var i in shopCatData) {
					for (var j in shopCatData[i].carts) {
						if (shopCatData[i].carts[j].id == id) {
							if (shopCatData[i].carts[j].item_nums > 1) {
								shopCatData[i].carts[j].item_nums--;
								// 更新提交的资料
								updateArguments(event.currentTarget);
								// 提交
								setNumOfShopCar(shopCatData[i].carts[j].item_nums);
								checkControl.handleReduceNum(id);
								return;
							}
						}
					}
				}
			}
			// 加号
			function handleChoiceRight(event) {
				var id = event.currentTarget.getAttribute("data-listId");
				for (var i in shopCatData) {
					for (var j in shopCatData[i].carts) {
						if (shopCatData[i].carts[j].id == id) {
							shopCatData[i].carts[j].item_nums++;
							// 更新提交的资料
							updateArguments(event.currentTarget);
							// 提交 
							setNumOfShopCar(shopCatData[i].carts[j].item_nums);
							checkControl.handleAddNum(id);
							return;
						}
					}
				}
			}
			// 修改购物车数量
			function setNumOfShopCar(newNum) {
				var token = plus.storage.getItem("tokenValue");
				var userId = plus.storage.getItem("userID");
				if (token == null || userId == null) {
					mui.toast("用户信息过期，请重新登录");
					return;
				}
				var URL = "http://farm.rrzuji.com/v1/cart/update?" + fnCreateSign() + "&access-token=" + token + "&id=" + listId;
				mui.ajax(URL, {
					type: "POST",
					dataType: "JSON",
					data: {
						user_id: userId,
						shop_id: shopId,
						shop_name: shopName,
						item_id: itemId,
						item_nums: newNum
					},
					success: function(res) {
						console.log("修改购物车数量成功" + res);
						res = JSON.parse(res);
					},
					error: function(xhr) {
						ajaxError(xhr);
					}
				})
			}

			function updateArguments(thisBtn) {
				var elem = thisBtn.parentNode;
				listId = elem.getAttribute("data-listId");
				shopId = elem.getAttribute("data-shopId");
				shopName = elem.getAttribute("data-shopName");
				itemId = elem.getAttribute("data-itemId");
			}

			function handleDeleteTrade(event) {
				var thisBtn = event.currentTarget;
				var token = plus.storage.getItem("tokenValue");
				var id = thisBtn.getAttribute("data-id");
				var index = thisBtn.getAttribute("data-index");
				var shopId = thisBtn.getAttribute("data-shopId");
				var URL = "http://farm.rrzuji.com/v1/cart/delete?" + fnCreateSign() + "&access-token=" + token + "&id=" + id;
				mui.ajax(URL, {
					type: "POST",
					dataType: "JSON",
					success: function(res) {
						console.log("删除购物车成功" + res);
						res = JSON.parse(res);
						if (res.success) {
							checkControl.handleDelete(id);
							for (var i in shopCatData) {
								if (shopCatData[i].shop_id == shopId) {
									for (var j in shopCatData[i].carts) {
										if (shopCatData[i].carts[j].id == id) {
											shopCatData[i].carts.splice(j, 1);
											return;
										}
									}
								}
							}
						}
					},
					error: function(xhr) {
						ajaxError(xhr);
					}
				});
			};

			function handleOpenShop(event) {
				console.log("打开店铺");
			};

			function handleOpenTradeDetail(event) {
				var thisBtn = event.currentTarget;
				mui.openWindow({
					url: "../thirdlv/webview-trade-detail.html",
					id: "webview-trade-detail.html",
					styles: fnSetSubpageStyle(0, 0),
					createNew: true,
					extras: {
						itemID: thisBtn.getAttribute("data-itemID")
					},
					show: {
						autoShow: true,
						aniShow: "pop-in",
						duration: 300
					},
					waiting: {
						autoShow: false
					}
				});
			};

			function getData(func) {
				// 获取购物车内容
				var token = plus.storage.getItem("tokenValue");
				var URL = "http://farm.rrzuji.com/v1/cart/index?" + fnCreateSign() + "&access-token=" + token;
				console.log(URL);
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					success: function(res) {
						console.log("购物车列表" + res);
						res = JSON.parse(res);
						shopCatData = res.data.items;
						// 去无效字段
						var count = 0;
						for (var i in shopCatData) {
							var newArray = [];
							for (var j in shopCatData[i].carts) {
								if (shopCatData[i].carts[j].item_price) {
									newArray.push(shopCatData[i].carts[j]);
								}
							}
							shopCatData[i].carts = newArray;
							if (newArray.length == 0) {
								count++;
							}
						}
						if (res.data.items.length == count) {
							document.querySelector("#collectNull").removeAttribute("v-cloak");
						}
						func(res);
					},
					error: function(xhr) {
						ajaxError(xhr);
					}
				})
			};
			// 详情页回到购物车页时刷新一下
			function refreshVue(res) {
				vueObj.$data = res;
				vueObj.$nextTick(function() {
					console.log("绑定点击事件");
					checkControl.initCheckGroup();
					document.getElementById("allCount").innerText = 0;
					document.getElementById("checkAllCheck").classList.remove("radio-check-active");
				});
			};
			window.addEventListener("refreshShopCar", function() {
				if (mui.os.plus) {
					console.log("从详情页返回到购物车");
					getData(refreshVue);
				}
			});
			mui.plusReady(function() {				
				getData(initVue);
			});
		</script>
	</body>

</html>