<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的收藏</title>
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="telephone=no,email=no" name="format-detection">
		<script src="../js/flexible_css.debug.js"></script>
		<script src="../js/flexible.debug.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="collectNull" v-cloak>收藏夹为空</div>
		<div id="vueContainer" v-cloak>
			<div class="my-trader-item" v-for="item in data.items" v-on:tap="openTradeDetail" data-itemID="{{item.item_id}}" v-if="item.item_price">
				<div class="my-trader-title" data-shop-id="{{item.shop_id}}" v-on:tap.stop="openShop">
					<div class="my-trader-title-logo">
						<span class="shop-span"></span>
					</div>
					<div class="my-trader-title-name">{{item.shop_name}}</div>
					<div class="my-trader-title-right my-collect-time" v-on:tap.stop="deleteCollect" data-id="{{item.id}}" data-index="{{$index}}">
						<span class="shop-delete-span"></span>
					</div>
				</div>
				<div class="my-trader-content">
					<div class="my-trader-content-img">
						<div class="my-trader-content-img-hold" style="background: url({{item.item_cover}}); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
					</div>
					<div class="my-trader-content-detail">
						<div class="my-trader-content-detail-container">
							<span class="collect-order-trader-name">{{item.item_title}}</span>
							<span class="collect-order-trader-detail"></span>
							<span class="collect-order-trader-money">&nbsp;&yen;&nbsp;{{item.item_price}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/md5.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/vue.min.js"></script>
		<script>
			mui.init();
			var old_back = mui.back;
			mui.back = function() {
				if (mui.os.plus) {
					var w = plus.webview.getWebviewById("webview-my.html");
					mui.fire(w, "setNum", {});
				}
				old_back();
			};
			var vueObj = null;
			var collectData = null;
			mui.plusReady(function() {
				var token = plus.storage.getItem("tokenValue");
				var URL = "http://farm.rrzuji.com/v1/collect/index?" + fnCreateSign() + "&access-token=" + token;
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					success: function(res) {
						console.log("收藏列表" + res);
						res = JSON.parse(res);
						if (res.success) {
							var count = 0;
							for (var i in res.data.items) {
								if (res.data.items[i].item_price == null || res.data.items[i].item_price == '') {
									count ++;
								}
							}
							if (res.data.items.length == count) {
								document.querySelector("#collectNull").removeAttribute("v-cloak");
							}
							vueObj = new Vue({
								el: "#vueContainer",
								data: res,
								methods: {
									openTradeDetail: function(event) {
										handleOpenTradeDetail(event);
									},
									openShop: function(event) {
										var shopId = event.currentTarget.getAttribute("data-shop-id");
										mui.openWindow({
											url: "../thirdlv/webview-shop.html",
											styles: fnSetSubpageStyle(0, 0),
											createNew: false,
											extras: {
												shopId: shopId
											},
											show: {
												autoShow: true,
												aniShow: "pop-in",
												duration: 300
											},
											waiting: {
												autoShow: true
											}
										});
									},
									deleteCollect: function(event) {
										handleDeleteCollect(event);
									}
								}
							});
						}
					},
					error: function(xhr) {
						ajaxError(xhr);
					}
				});
			});

			function handleDeleteCollect(event) {
				var thisBtn = event.currentTarget;
				var token = plus.storage.getItem("tokenValue");
				var id = thisBtn.getAttribute("data-id");
				var index = parseInt(thisBtn.getAttribute("data-index"));
				var URL = "http://farm.rrzuji.com/v1/collect/delete?" + fnCreateSign() + "&access-token=" + token + "&id=" + id;
				mui.ajax(URL, {
					type: "POST",
					dataType: "JSON",
					success: function(res) {
						console.log(res);
						res = JSON.parse(res);
						if (res.success) {
							console.log("删除收藏成功");
							vueObj.data.items.$remove(vueObj.data.items[index]);
						}
					},
					error: function(xhr) {
						ajaxError(xhr);
					}
				});
			}

			function handleOpenTradeDetail(event) {
				var thisBtn = event.currentTarget;
				mui.openWindow({
					url: "../thirdlv/webview-trade-detail.html",
					id: "webview-trade-detail.html",
					styles: fnSetSubpageStyle(0, 0),
					createNew: false,
					extras: {
						itemID: thisBtn.getAttribute("data-itemID")
					},
					show: {
						autoShow: true,
						aniShow: "pop-in",
						duration: 300
					},
					waiting: {
						autoShow: false
					}
				});
			}
		</script>
	</body>

</html>