<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<script src="../js/flexible_css.debug.js"></script>
		<script src="../js/flexible.debug.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/bootstrap3.3.5.min.css" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				margin: 0;
			}
			
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			
			[v-cloak] {
				display: none;
			}
			
			.scroll-hide {
				display: none;
			}
			
			.scroll-active {
				display: block;
			}
		</style>
	</head>

	<body>
		<div class="header-control header-control-whiteBold">
			<div class="header-control-left-btn  mui-action-back">
				<span class="black-arrow-big-span header-control-left-btn-span"></span>
			</div>
			<div class="trade-header-container">
				<span class="trade-header-nav trade-header-nav-active" id="initScroll" data-first="true" data-container="detailScroll" data-scroll="#scroll1">商品</span>
				<span class="trade-header-nav" data-first="true" data-container="introduceScroll" data-scroll="#scroll2">详情</span>
				<!--<span class="trade-header-nav" data-url="/thirdlv/webview-home-rent-comment.html">评论</span>-->
			</div>
			<div class="header-control-right-btn">
				<span class="header-control-right-btn-span shop-car-black-span"></span>
			</div>
		</div>
		<div id="scroll1" class="mui-scroll-wrapper trade-scroll-position scroll-hide scroll-active">
			<div class="mui-scroll" id="detailScroll" v-clock>
				<div id="slider" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!-- (循环轮播：第一个节点是最后一张图片) 节点数量等于轮播图片+1-->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<!--轮播图尺寸规定为750*385-->
								<span class="trade-span-cover-slider" style="background: url({{images[images.length - 1]}}); background-size: cover;"></span>
							</a>
						</div>
						<div class="mui-slider-item" v-for="img in images">
							<a href="#">
								<span class="trade-span-cover-slider" style="background: url({{img}}); background-size: cover;"></span>
							</a>
						</div>
						<!--额外增加的一个节点(最后一个节点与“原”第一张图片相同)-->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<span class="trade-span-cover-slider" style="background: url({{images[0]}}); background-size: cover;"></span>
							</a>
						</div>
					</div>
					<div class="pageIndex">
					</div>
					<div class="mui-slider-indicator mui-text-center" style="display: none;">
						<!--对应图片个数-->
						<div class="mui-indicator mui-active home-slider-text-size"></div>
						<div class="mui-indicator home-slider-text-size" v-for="n in images.length" v-if="n > 0"></div>
					</div>
				</div>
				<div class="detail-price">
					<span class="home-rent-detail-name">
						{{title}}
					</span>
					<span class="home-rent-detail-money">
						<em>&yen;&nbsp;&nbsp;</em><label>{{price}}-{{high_price}}</label>
					</span>
				</div>
				<div class="home-rent-detail-suit">
					<div class="home-rent-detail-suit-item" v-for="item in params">
						<div class="home-rent-detail-suit-item-left">{{item.name}}</div>
						<div class="home-rent-detail-suit-item-right">{{item.value}}</div>
					</div>
				</div>
				<div class="home-rent-detail-shop" shop-id="{{shop_id}}">
					<div class="home-rent-detail-shop-left">
						<span class="home-rent-detail-shop-logo" style="background: url({{shop_image}}); background-size: cover;"></span>
					</div>
					<div class="home-rent-detail-shop-middle">
						<span class="home-rent-detail-shop-name">{{shop_name}}</span>
					</div>
					<div class="home-rent-detail-shop-right">
						<span class="mui-icon mui-icon-forward"></span>
					</div>
				</div>
				<div class="home-rent-detail-shop-detail">
					<div class="home-rent-detail-shop-detail-btn">
						<div class="home-rent-detail-shop-detail-content">
							<span class="home-rent-detail-shop-detail-content-num">{{shop_item_num}}</span>
							<div>
								<span class="shop-wares-span"></span>
								<span class="home-rent-detail-shop-detail-content-name">商品</span>
							</div>
						</div>
					</div>
					<div class="home-rent-detail-shop-detail-btn">
						<div class="home-rent-detail-shop-detail-content">
							<span class="home-rent-detail-shop-detail-content-num">{{shop_evaluate_num}}</span>
							<div>
								<span class="shop-wares-assess-span"></span>
								<span class="home-rent-detail-shop-detail-content-name">评价</span>
							</div>
						</div>
					</div>
					<div class="home-rent-detail-shop-detail-btn">
						<div class="home-rent-detail-shop-detail-content">
							<span class="home-rent-detail-shop-detail-content-num">{{shop_share_num}}</span>
							<div>
								<span class="shop-wares-share-span"></span>
								<span class="home-rent-detail-shop-detail-content-name">分享</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="scroll2" class="mui-scroll-wrapper trade-scroll-position scroll-hide">
			<div class="mui-scroll" id="introduceScroll">

			</div>
		</div>
		<div class="trade-foot-control">
			<div class="trade-foot-control-small-btn">
				<span class="trade-foot-control-small-btn-logo" style="background: url(../img/custom-service.png); background-size: cover;"></span>
				<span class="trade-foot-control-small-btn-title">客服</span>
			</div>
			<div class="trade-foot-control-small-btn">
				<span class="trade-foot-control-small-btn-logo" style="background: url(../img/shop.png); background-size: cover;"></span>
				<span class="trade-foot-control-small-btn-title">店铺</span>
			</div>
			<div class="trade-foot-control-small-btn">
				<span class="trade-foot-control-small-btn-logo" style="background: url(../img/collect.png); background-size: cover;"></span>
				<span class="trade-foot-control-small-btn-title">收藏</span>
			</div>
			<div class="trade-foot-control-btn" id="addToShopCar">
				<span class="trade-foot-control-name">加入购物车</span>
			</div>
			<div class="trade-foot-control-btn bg-color-green" id="openOrderForm">
				<span class="trade-foot-control-name">立即购买</span>
			</div>
		</div>
		<!--购买div，动画形式弹出-->
		<div id="buyDiv" class="mutual-div">
			<div class="buyDiv-title">
				<span class="buyDiv-title-img" style="background: url({{images[0]}}); background-size: cover;"></span>
				<span class="buyDiv-message">					
					<span class="home-rent-detail-money">
						<em>&yen;&nbsp;&nbsp;</em><label id="buyDiv-message-price">{{price}}-{{high_price}}</label>
					</span>
				<label class="buyDiv-message-item" id="buyDiv-message-choose" data-id="">请选择&nbsp;套餐</label>
				<label class="buyDiv-message-item" id="buyDiv-message-residue"></label>
				</span>
				<span id="buyDivClose"></span>
			</div>
			<div class="buyDiv-item">
				<label class="buyDiv-item-title">
					选择套餐
				</label>
				<div class="buyDiv-item-group">
					<span class="buyDiv-items" v-on:tap="setBuyMessage" v-for="item in standard_price_num" data-itemID="{{item.id}}" data-price="{{item.price}}" data-residue="{{item.repertory}}">{{item.label}}</span>
				</div>
			</div>
			<div class="buyDiv-count">
				<label class="buyDiv-count-title">
					购买数量
				</label>
				<div class="buyDiv-count-right">
					<div class="num-choice">
						<span class="num-choice-left num-choice-item">-</span>
						<span class="num-choice-mid num-choice-item">1</span>
						<span class="num-choice-right num-choice-item">+</span>
					</div>
				</div>
			</div>
			<div class="buyDiv-btn">
				<button id="btnPostBuy">完成</button>
			</div>
		</div>
		<div class="my-toast" id="myToast">
			<span class="my-toast-content"></span>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/md5.min.js"></script>
		<script src="../js/public.js"></script>
		<script src="../js/vue.min.js"></script>
		<script>
			// 系统页面初始化
			mui.init();
			// 阻尼系数
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			mui('.mui-scroll-wrapper').scroll({
				bounce: false,
				indicators: false, // 是否显示滚动条
				deceleration: deceleration
			});
			var item_id = "";
			var detailVue = new Vue({
				el: "#detailScroll"
			});

			function initSwitchTab() {
				mui('.trade-header-container').on('tap', '.trade-header-nav', function() {
					// 获取数据
					if (this.getAttribute("data-first") == "true") {
						handle(this);
					}
					// 更换滚动区域
					var elem = document.querySelector(".scroll-active").classList.remove("scroll-active");
					document.querySelector(this.getAttribute("data-scroll")).classList.add("scroll-active");
					// 更改按钮状态
					if (!this.classList.contains("trade-header-nav-active")) {
						document.querySelector(".trade-header-nav-active").classList.remove("trade-header-nav-active");
						this.classList.add("trade-header-nav-active");
					}
				});
			};

			function initBuyGroup(resData) { // 购买-动画
				new Vue({
					el: "#buyDiv",
					data: resData,
					methods: {
						setBuyMessage: function(event) {
							var itemElem = event.currentTarget;
							var oldElem = document.querySelector(".buyDiv-items-active");
							if (oldElem) {
								oldElem.classList.remove("buyDiv-items-active");
							}
							itemElem.classList.add("buyDiv-items-active");
							document.getElementById("buyDiv-message-choose").innerText = "已选：" + itemElem.innerText;
							document.getElementById("buyDiv-message-choose").setAttribute("data-id", itemElem.getAttribute("data-itemID"));
							document.getElementById("buyDiv-message-price").innerText = itemElem.getAttribute("data-price");
							document.getElementById("buyDiv-message-residue").innerText = "剩余：" + itemElem.getAttribute("data-residue");
						}
					}
				})
				document.querySelector("#addToShopCar").addEventListener("tap", function() {
					var id = "#buyDiv";
					fnOpenTargetDiv(id);
				});
				document.querySelector("#buyDivClose").addEventListener("tap", function() {
					var id = "#buyDiv";
					fnCloseShade(id);
				});
				// 购买-动画end
				// 数字选择器
				var chocieMID = document.querySelector(".num-choice-mid");
				var choicePrice = document.querySelector(".buyDiv-money-count");
				//				var basePrice = parseFloat(choicePrice.getAttribute("data-normal"));
				document.querySelector(".num-choice-left").addEventListener("tap", function() {
					var val = chocieMID.innerText;
					if (val == "1") {
						return;
					}
					chocieMID.innerText = parseInt(val) - 1;
					//					choicePrice.innerText = parseFloat(choicePrice.innerText) - basePrice;
				});
				document.querySelector(".num-choice-right").addEventListener("tap", function() {
					chocieMID.innerText = parseInt(chocieMID.innerText) + 1;
					//					choicePrice.innerText = parseFloat(choicePrice.innerText) + basePrice;
				});
				// 数字选择器end	
				// 确认订单
				document.getElementById("openOrderForm").addEventListener("tap", function() {
					mui.openWindow({
						url: "webview-trade-order.html",
						styles: fnSetSubpageStyle(0, 0),
						createNew: false,
						extras: {
//							itemID: _id
						},
						show: {
							autoShow: true,
							aniShow: "pop-in",
							duration: 300
						},
						waiting: {
							autoShow: true
						}
					});
				});
			}

			function initSlider() {
				document.querySelector(".pageIndex").innerText = 1 + "/" + (document.querySelectorAll(".mui-slider-item").length - 2);
				mui(".mui-slider").on("dragend", ".mui-slider-group", function() {
					setTimeout(function() {
						var nodeElem = document.querySelectorAll(".mui-indicator");
						var count = 1;
						for (var i = 0; i < nodeElem.length; i++) {
							if (nodeElem[i].classList.contains("mui-active")) {
								break;
							}
							count++;
						}
						document.querySelector(".pageIndex").innerHTML = count + "/" + nodeElem.length;
					}, 600);
				});
			}

			function handle(btn) {
				var tabText = btn.innerText;
				switch (tabText) {
					case "商品":
						handleDetail(btn);
						break;
					case "详情":
						handleIntroduce(btn);
						break;
					case "评论":
						handleComment(btn);
						break;
				}
			}

			function handleDetail(btn) {
				var containerID = btn.getAttribute("data-container");
				var URL = "http://farm.rrzuji.com/v1/items/" + item_id + "?fields=id,shop_id,shop_name,shop_image,shop_item_num,shop_evaluate_num,shop_share_num,title,price,high_price,images,params,standard_price_num,dispatch&" + fnCreateSign();
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					timeout: 15000,
					success: function(res) {
						console.log("商品详情" + res);
						res = JSON.parse(res);
						if (res.success) {
							btn.setAttribute("data-first", "false");
							detailVue.$data = res.data;
							detailVue.$nextTick(function() {
								// DOM 现在更新了
								initSlider();
								initBuyGroup(res.data);
							});
						}
					},
					error: function(xhr, type, errorThrown) {
						ajaxError(xhr);
						mui.toast("加载失败，请检查您的网络");
					}
				})
			}

			function handleIntroduce(btn) {
				var containerID = btn.getAttribute("data-container");
				var URL = "http://farm.rrzuji.com/v1/items/" + item_id + "?fields=introduce&" + fnCreateSign();
				mui.ajax(URL, {
					type: "GET",
					dataType: "JSON",
					timeout: 15000,
					success: function(res) {
						console.log("详情介绍" + res);
						res = JSON.parse(res);
						if (res.success) {
							btn.setAttribute("data-first", "false");
							document.querySelector("#introduceScroll").innerHTML = res.data.introduce;
						}
					},
					error: function(xhr, type, errorThrown) {
						ajaxError(xhr);
						mui.toast("加载失败，请检查您的网络");
					}
				})
			}

			function handleComment(btn) {}
			mui.plusReady(function() {
				item_id = plus.webview.currentWebview().itemID
				console.log(item_id);
				initSwitchTab();
				mui.trigger(document.getElementById('initScroll'), "tap");
			});
			// 右下角数字标end
			//			var url = null;
			//			var tabObj = function(IDlist, IDscroll, isFirst) {
			//				this.list_ID = IDlist;
			//				this.refreshContainer = mui(document.getElementById(IDscroll));
			//				this.first = isFirst;
			//				this.page = 1;
			//				this.url = url[IDlist] + "&page=";
			//				this.refreshSign = "";
			//				this.vueObj = null;
			//				this.spinner = document.querySelector("#" + IDscroll + " .spinner");
			//				this.init();
			//			}
			//			tabObj.prototype = {
			//				init: function() {
			//					if (this.first == "false") {
			//						return;
			//					}
			//					console.log("初始化");
			//					this.bindVue();
			//					this.getData();
			//				},
			//				initPullRefresh: function() {
			//					var thisObj = this;
			//					thisObj.refreshContainer.pullToRefresh({
			//						down: {
			//							callback: function() {
			//								thisObj.refreshSign = "down";
			//								thisObj.page = 1;
			//								thisObj.getData();
			//							}
			//						},
			//						up: {
			//							callback: function() {
			//								thisObj.refreshSign = "up";
			//								thisObj.getData();
			//							}
			//						}
			//					});
			//				},
			//				dealFirst: function(data) {
			//					var thisObj = this;
			//					try {
			//						thisObj.first = "false";
			//						// 整体更换初始化vue数据
			//						thisObj.vueObj.$data = data;
			//						thisObj.vueObj.$nextTick(function() {
			//							thisObj.spinner.style.display = "none";
			//							thisObj.initPullRefresh();
			//							thisObj.noMore(data);
			//						});
			//					} catch (err) {
			//						console.log(err);
			//					}
			//				},
			//				getData: function() {
			//					if (NetWorkStatus()) {
			//						return;
			//					}
			//					var URL = this.url + this.page + "&" + fnCreateSign();
			//					var thisObj = this;
			//					mui.ajax(URL, {
			//						type: "GET",
			//						dataType: "JSON",
			//						timeout: 15000,
			//						success: function(res) {
			//							console.log(URL);
			//							console.log("获取到的列表数据，我的社区" + res);
			//							res = JSON.parse(res);
			//							if (res.success) {
			//								thisObj.page++;
			//								// 第一次获取数据后的处理
			//								if (thisObj.first == "true") {
			//									thisObj.dealFirst(res);
			//								} else {
			//									// 不是第一次
			//									if (thisObj.refreshSign == "up") {
			//										console.log(2);
			//										for (var i = 0; i < res.data.items.length; i++) {
			//											thisObj.vueObj.data.items.push(res.data.items[i]);
			//										}
			//										if (thisObj.noMore(res)) {
			//											return;
			//										};
			//									} else {
			//										thisObj.vueObj.$data = res;
			//										thisObj.refreshContainer.pullToRefresh().endPullDownToRefresh();
			//										thisObj.refreshContainer.pullToRefresh().refresh(true);
			//										thisObj.noMore(res);
			//										return;
			//									}
			//								}
			//							}
			//							thisObj.stopRefresh();
			//						},
			//						error: function(xhr, type, errorThrown) {
			//							ajaxError(xhr);
			//							thisObj.stopRefresh();
			//							mui.toast("加载失败，请检查您的网络");
			//						}
			//					});
			//				},
			//				noMore: function(res) {
			//					var thisObj = this;
			//					if (res.data._meta.currentPage == res.data._meta.pageCount || res.data._meta.pageCount == 0) {
			//						thisObj.refreshContainer.pullToRefresh().endPullUpToRefresh(true);
			//						return true;
			//					}
			//				},
			//				stopRefresh: function(self) {
			//					var sign = this.refreshSign;
			//					// 没有更多数据的话，refresh设置true
			//					if (sign == "down") {
			//						this.refreshContainer.pullToRefresh().endPullDownToRefresh();
			//					}
			//					if (sign == "up") {
			//						this.refreshContainer.pullToRefresh().endPullUpToRefresh();
			//					}
			//				},
			//				bindVue: function() {
			//					// 绑定vue
			//					var thisObj = this;
			//					thisObj.vueObj = new Vue({
			//						el: "#" + thisObj.list_ID,
			//						data: {},
			//						methods: {
			//							openDetail: function(event) {
			//								console.log("事件处理");
			//							}
			//						}
			//					})
			//				}
			//			}
			//			window.addEventListener("initPage", function(e) {
			//				url = {
			//					"shareList": "http://farm.rrzuji.com/v1/talk/index?type=1&access-token=" + e.detail.tokenValue,
			//					"questionList": "http://farm.rrzuji.com/v1/talk/index?type=2&access-token=" + e.detail.tokenValue
			//				};
			//				console.log(e.detail.tokenValue);
			//				// 第一个标签手动设置				
			//				new tabObj("shareList", "shareScroll", "true");
			//				document.getElementById("slider").addEventListener("scrollend", function() {
			//					var elem = document.querySelector("#sliderSegmentedControl .mui-active");
			//					if (elem.getAttribute("data-id") == null) {
			//						return;
			//					}
			//					var first = elem.getAttribute("data-first");
			//					if (first == "true") {
			//						new tabObj(elem.getAttribute("data-id"), elem.getAttribute("data-scroll-id"), first);
			//						elem.setAttribute("data-first", "false");
			//					}
			//				})
			//			});
		</script>
	</body>

</html>